{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.min.css" %}">
    {% block styles %}{% endblock %}
    {% block title %}{% endblock %}
</head>

<body>
    <header>
        <div id="logodiv">
        <div id="imgdiv" style='background-image: url({% static "logo_filled.png" %});'></div>
            <h1 id="name">Castle<br>Apartments</h1>
            <div id=border1></div>
        </div>
    <div id="centerheaddiv">
        <div id="listingdiv">
            <p id="listings">All Listings</p>
        </div>
        <div id="selldiv">
            <p id="sell">Sell an Apartment</p>
        </div>
        <div id="aboutdiv">
            <p id="about">About us</p>
        </div>
        <div id=border2></div>
    </div>
    <div id=accountdiv>
        <div id=loggeddiv>
        <p id="notlogged">Not logged in</p>
        </div>
        <div id="lockdiv" style='background-image: url({% static "lock.svg" %})'></div>
    </div>
    </header>
    {% block content %}{% endblock %}
    <footer>
        <div id="footer_square"></div>
        <div id="footer_oval"></div>
        <svg viewBox="0 0 100 100" preserveAspectRatio="none">
            <polygon    id="footer_triangle_left"
                        points="0,0 100,100 0, 100"
                        style="fill: #4A0292; fill-rule: evenodd;" />
            <polygon    id ="footer_triangle_right"
                        points="0,100 100,0 100,100"
                        style="fill: #5503A7; fill-rule: evenodd;" />
        </svg>
        <div id="footer_content">
            <div id="footer_content_left">
                <p><img alt="Phone number" src="{% static 'icons/phone.svg' %}" /> +354 123 4567</p>
                <p><img alt="Email" src="{% static 'icons/email.svg' %}" /> castle@apartments.com</p>
            </div>
            <div id="footer_content_right">
                <p>Menntavegur 1</p>
                <p>101 Reykjavík</p>
                <p>Iceland</p>
            </div>
        </div>
        <div id="footer_logo">
            <img src="{% static 'logo_filled.png' %}" alt="Company logo" />
            <h5>Castle Apartments <span>&trade;</span></h5>
        </div>
    </footer>
</body>

</html>