{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Reem+Kufi:400" />
    <link rel="stylesheet" href="{% sass_src "sass/base_style.scss" %}">
    <script src="{% static 'js/script.js' %}" defer></script>
    {% block styles %}{% endblock %}
    {% block title %}{% endblock %}
    {% block scripts %}{% endblock %}
</head>

<body>
    <header id="site_header">
        <div id="header_background"></div>
        <div id="dropdownnav">
            {% if authenticated %}
            <div id="user_name">
                <p>{{user.userinfo.first_name}} {{user.userinfo.last_name}}</p>
            </div>
            {% endif %}
            <div id="listingdropdown" class="dropdown-link">
                <a href="/" id="listingsdropdown" class="dropdowntext">All are Listings</a>
            </div>
            <div id="selldropdown" class="dropdown-link">
                <a href="{% url 'sell' %}" id="sellsdropdown" class="dropdowntext">Selling an Apartment?</a>
            </div>
            <div id="aboutdropdown" class="dropdown-link">
                <a href="{% url 'about' %}" id="abouttextdropdown" class="dropdowntext">About us</a>
            </div>
            {% if authenticated %}
            <div id="logindropdown" class="dropdown-link">
                <a href="{% url 'account' %}" id="logintextdropdown" class="dropdowntext">My Account</a>
            </div>
            <div id="signupdropdown" class="dropdown-link">
                <a href="{% url 'logout' %}" id="signuptextdropdown" class="dropdowntext">Log out</a>
            </div>
            {% else %}
            <div id="logindropdown" class="dropdown-link">
                <a href="{% url 'login' %}" id="logintextdropdown" class="dropdowntext">Log in</a>
            </div>
            <div id="signupdropdown" class="dropdown-link">
                <a href="{% url 'signup' %}" id="signuptextdropdown" class="dropdowntext">Sign up</a>
            </div>
            {% endif %}
        </div>
        <a id="dropdown_obfuscator" href="#"></a>
        <div id="logodiv">
            <a href="/">
                <div id="imgdiv" style='background-image: url({% static "logo_filled.png" %});'></div>
                <h1 id="name">Castle<br>Apartments</h1>
            </a>
        </div>
        <div id="centerheaddiv">
            <div id="border1"></div>
            <div id="listingdiv" class="linkdiv">
                <a href="/" id="listings">All are Listings</a>
            </div>
            <div id="selldiv" class="linkdiv">
                <a href="{% url 'sell' %}" id="sell">Selling an Apartment?</a>
            </div>
            <div id="aboutdiv" class="linkdiv">
                <a href="{% url 'about' %}" id="about">About us</a>
            </div>
            <div id="border2"></div>
        </div>
        <div id="accountdiv" class="dropbtn">
            {% if authenticated %}
            <div id="loggeddiv">
                <p>{{user.userinfo.first_name}} {{user.userinfo.last_name}}</p>
            </div>
            <div id="profilepic" style='background-image: url({{user.userinfo.profile_img.url}});'></div>
            {% else %}
            <div id="loggeddiv">
                <p id="notlogged">Not logged in</p>
            </div>
            <div id="profilepic" style='background-image: url({% static "lock.svg" %});'></div>
            {% endif %}
        </div>
        <div id="sidebar">
            {% if authenticated  %}
            <div id="content-loggedin" class="dropdown-content">
                <div id="profilepic_big" style='background-image: url({{user.userinfo.profile_img.url}});'></div>
                <a class="btn btn-outline-primary box-shadow" href="{% url 'account' %}"> My Account</a>
                <a class="btn btn-outline-primary box-shadow" href="{% url 'logout' %}"> Log out</a>
            </div>
            {% else %}
            <div id="content-notloggedin" class="dropdown-content">
                <a class="btn btn-outline-primary box-shadow" href="{% url 'login' %}"> Log in</a>
                <a class="btn btn-outline-primary box-shadow" href="{% url 'signup' %}"> Sign Up</a>
            </div>
            {% endif %}
        </div>
        <div id="hamburger" style='background-image: url("{% static "icons/hamburger.svg" %}")'></div>
    </header>
    <div id="header-filler"></div>
    {% block content %}{% endblock %}
    <noscript>
        <div id="noscript_message">
            <p>
                You have JavaScript disabled. Some functionality of this site
                will be unavailable.
            </p>
        </div>
    </noscript>
    <footer>
        <div id="footer_square"></div>
        <div id="footer_oval"></div>
        <svg viewBox="0 0 100 100" preserveAspectRatio="none">
            <polygon id="footer_triangle_left" points="0,0 100,100 0, 100" style="fill: #4A0292; fill-rule: evenodd;" />
            <polygon id="footer_triangle_right" points="0,100 100,0 100,100"
                style="fill: #5503A7; fill-rule: evenodd;" />
        </svg>
        <div id="footer_logo">
            <img src="{% static 'logo_filled.png' %}" alt="CA logo" />
            <h5>Castle Apartments <span>&trade;</span></h5>
        </div>
        <div id="footer_content">
            <div id="footer_content_left">
                <p>
                    <img alt="Phone number" src="{% static 'icons/phone.svg' %}" />
                    <a class="tel" href="tel:+3541234567">+354 123 4567</a>
                </p>
                <p>
                    <img alt="Email" src="{% static 'icons/email.svg' %}" />
                    <a href="mailto:castle@apartments.com">castle@apartments.com</a>
                </p>
            </div>
            <div id="footer_content_right">
                <p>
                    Menntavegur 1<br>
                    101 Reykjavík<br>
                    Iceland
                </p>
            </div>
        </div>
    </footer>
</body>

</html>