{% extends "base.html" %}
{% load static %}
{% load sass_tags %}
<head>
    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{% sass_src "castleapartments/sass/about.scss" %}">
    {% endblock styles %}

    {% block title %}
    <title>About Us</title>
    {% endblock title %}
</head>
{% block content %}
<main>
    <div id="about_page_wrapper">
        <div id="about_container">
            <div id="about_text">
                <h5> Hello and welcome to the Castle Apartments web app! </h5>
                <p> Hope you enjoy your stay and find your new home.</p>
                <p> We can provide you with plenty of options for new housing and have even been known to offer steep
                    discounts for the low, low price of your soul.
                    <p> Have a great day!</p>
                    <p> - Management </p>
                    <br/><br/>
                    <p><strong>By the way:</strong> Did you know that this project was created as part of a course in Reykjavik
                        University? If you want to read all about it you can go to our GitHub page! 
                        <a href="https://github.com/GudniNatan/SC-T-220-VLN2" target="_blank">
                            https://github.com/GudniNatan/SC-T-220-VLN2
                        </a>
                    </p>
            </div>
            <div id="about_image">
                <img src="{% static 'castle.svg' %}" alt="" />
            </div>
        </div>
    </div>
</main>
{% endblock content %}