{% extends "base.html" %}
{% load static %}
{% load sass_tags %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% sass_src "castleapartments/sass/about.scss" %}">
{% endblock styles %}

{% block title %}
<title>About Us</title>
{% endblock title %}

{% block content %}
<main>
    <div id="about_page_wrapper">
        <div id="about_container">
            <div id="about_text">
                <h5> Hello and welcome to the Castle Apartments web app! </h5>
                <p> Hope you enjoy your stay and find your new home.</p>
                <p> We can provide you with plenty of options for new housing and have even been known to offer steep
                    discounts for the low, low price of your soul.
                <p> Have a great day!</p>
                <p> - Management </p>
            </div>
            <div id="about_image">
                <img src="{% static 'castle.svg' %}" alt="" />
            </div>
        </div>
    </div>
</main>
{% endblock content %}