{% extends "base.html" %}
{% load static %}
{% load sass_tags %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% sass_src "castleapartments/sass/style.scss" %}">
<link rel="stylesheet" type="text/css" href="{% sass_src "castleapartments/sass/account.scss" %}">
{% endblock styles %}

{% block title %}
<title> Account </title>
{% endblock title %}

{% block content %}
<div id="background_image" style='
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.4),
                    rgba(255, 255, 255, 0.4)),
                    url("{% static "background.jpg" %}")'>
</div>
<main>
    <div id="main_content" class="container-full">
        <div id="my_info">
            <div id="me">
                <div id="image">

                </div>
                <div id="name">
                    Pálmi C Rúnarsson
                </div>
            </div>
            <div id=bio>
                <p>
                    dasdkandaskdnkasndkansdkandkansdai
                    dmaosmdoasdoamsdmepfnpsfmpaoemfa
                    apmdpoaempifnaksmoawkdmom
                </p>
            </div>
            <div id=info>
                <p>
                    dasdkandaskdnkasndkansdkandkansdai
                    dmaosmdoasdoamsdmepfnpsfmpaoemfa
                    apmdpoaempifnaksmoawkdmom
                </p>
            </div>
        </div>

        <div id="my_sell">
            <div class="headtitle">
                <p>Selling</p>
            </div>
        </div>

        <div id="my_sold">
            <div class="headtitle">
                <p>Sold</p>
            </div>
        </div>
    </div>
</main>
{% endblock content %}