{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static "castleapartments/css/style.min.css" %}" />
{% endblock styles %}

{% block title %}
<title> Account </title>
{% endblock title %}

{% block content %}
<main>
    <div id="main_content" class="container-full">
        <div id="my_info">

        </div>

        <div id="my_sell">

        </div>

        <div id="my_sold">

        </div>
    </div>
</main>
{% endblock content %}