{% extends "base.html" %}
{% load static %}
{% load sass_tags %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% sass_src "castleapartments/sass/apartment_info.scss" %}">
{% endblock styles %}

{% block title %}
<title>Apartment Info - Castle Apartments</title>
{% endblock title %}

{% block scripts %}
<script src="{% static 'castleapartments/js/apartmentInfo.js' %}" defer></script>
{% endblock scripts %}

{% block content %}
<main>
<div id="flex_container">
    <div class="carousel-container">
        <div class="carousel" class="carousel slide">
            <div class="carousel-slides" data-active-slide="0">
                {% for image in listing.apartment.apartmentimage_set.all %}
                <div 
                    class="carousel-slide"
                    style="background-image: url({{ image.image.url }})">
                    <div class="carousel-slide-label">
                        <p>
                            Image
                            {{ forloop.counter }}
                            of
                            {{ listing.apartment.apartmentimage_set.all|length }}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="carousel-controls">
                <button class="carousel-left-control" disabled>
                    <img src="{% static 'icons/carousel_left.svg' %}" />
                </button>
                <button class="carousel-right-control" disabled>
                    <img src="{% static 'icons/carousel_right.svg' %}" />
                </button>
            </div>
            <noscript>
            <div class="carousel-no-js">
                <p>
                    This carousel is unoperable because JavaScript is disabled.
                    You can enable JavaScript to view it or click on the
                    images below to view each individual image.
                </p>
            </div>
            </noscript>
        </div>
        <div class="carousel-indicators">
            {% for image in listing.apartment.apartmentimage_set.all %}
                <div
                    class="carousel-indicator"
                    data-indicator-num="{{ forloop.counter }}"
                    style="background-image: url({{ image.image.url }});">
                    <a href="{{ image.image.url }}" target="_blank"></a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="offers_container">
        <h1 id="address_heading">{{ listing.apartment.address }}</h1>
        <div id="address_subheading">
            <p>
                {{ listing.apartment.postal_code.zip_code }},
                {{ listing.apartment.postal_code.town }}
            </p>
            <p>{{ listing.apartment.postal_code.country.name }}</p>
            <p>
                {% if listing.apartment.apt_number != Null %}
                    <p>Apartment {{ listing.apartment.apt_number }}</p>
                {% endif %}
            </p>
        </div>
        <div id="apartment_info_container">
            <ul>
                <li>
                    <span class="label">Num. of rooms:</span>
                    {{ listing.apartment.num_rooms }}
                </li>
                <li>
                    <span class="label">Num. of toilets:</span>
                    {{ listing.apartment.num_bathrooms }}
                </li>
                <li>
                    <span class="label">Size:</span>
                    {{ listing.apartment.size }}
                    m<sup>2</sup>
                </li>
                <li>
                    <span class="label">Type:</span>
                    {{ listing.apartment.apartment_type.name }}
                </li>
                <li>
                    <span class="label">Year built:</span>
                    {{ listing.apartment.year_built }}
                </li>
            </ul>
        </div>
    </div>
</div>
</main>
{% endblock content %}