{% extends "base.html" %}
{% load static %}
{% load sass_tags %}
{% load humanize %}
{% load l10n %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% sass_src "castleapartments/sass/apartment_info.scss" %}">
{% endblock styles %}

{% block title %}
<title>Apartment Info - Castle Apartments</title>
{% endblock title %}

{% block scripts %}
<script src="{% static 'castleapartments/js/apartmentInfo.js' %}" defer></script>
{% endblock scripts %}

{% block content %}
<main>
{% if user.is_superuser %}
<section id="button_section">
    {% if listing.processed %}
    <a type="button" class="btn btn-raised btn-warning" 
        id="unlist_btn"
        href="unlist/">
        Unlist Property
    </a>
    {% else %}
    <a type="button" class="btn btn-raised btn-success" 
        id="list_btn"
        href="list/">
        List Property
    </a>
    {% endif %}
    <a 
        class="btn btn-raised btn-danger"
        id="delete_listing_btn"
        href="delete/">
        Delete Property
    </a>
</section>
{% elif user == listing.seller %}
<section id="button_section">
        <a 
            class="btn btn-raised btn-danger"
            id="delete_listing_btn"
            href="delete/">
            Delete Property
        </a>
</section>    
{% endif %}
<div id="flex_container">
    <div id="carousel_and_description_container">
    <div class="carousel-container">
        <div class="carousel slide">
            <div class="carousel-slides" data-active-slide="0">
                {% for image in listing.apartment.apartmentimage_set.all %}
                <div 
                    class="carousel-slide"
                    style="background-image: url({{ image.image.url }})">
                    <div class="carousel-slide-label">
                        <p>
                            Image
                            {{ forloop.counter }}
                            of
                            {{ listing.apartment.apartmentimage_set.all|length }}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="carousel-controls">
                <button class="carousel-left-control" disabled>
                    <img src="{% static 'icons/carousel_left.svg' %}" alt="previous image" />
                </button>
                <button class="carousel-right-control" disabled>
                    <img src="{% static 'icons/carousel_right.svg' %}" alt="next image" />
                </button>
            </div>
            <noscript>
            <div class="carousel-no-js">
                <p>
                    This carousel is unoperable because JavaScript is disabled.
                    You can enable JavaScript to view it or click on the
                    images below to view each individual image.
                </p>
            </div>
            </noscript>
        </div>
        <div class="carousel-indicators">
            {% for image in listing.apartment.apartmentimage_set.all %}
                <div
                    class="carousel-indicator"
                    data-indicator-num="{{ forloop.counter }}"
                    style="background-image: url({{ image.image.url }});">
                    <a href="{{ image.image.url }}" target="_blank"></a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="apartment_description">
        <h3>Description</h3>
        <p>
            {{ listing.apartment.description }}
        </p>
    </div>
    </div>
    <div id="offers_container">
        <h1 id="address_heading">{{ listing.apartment.address }}</h1>
        <div id="address_subheading">
            <p>
                {{ listing.apartment.postal_code.zip_code }},
                {{ listing.apartment.postal_code.town }}
            </p>
            <p>{{ listing.apartment.postal_code.country.name }}</p>
            <p>
                {% if listing.apartment.apt_number != Null %}
                    Apartment {{ listing.apartment.apt_number }}
                {% endif %}
            </p>
        </div>
        <hr />
        <div id="apartment_info_container">
            <ul>
                <li>
                    <span class="label">Num. of rooms:</span>
                    {{ listing.apartment.num_rooms }}
                </li>
                <li>
                    <span class="label">Num. of toilets:</span>
                    {{ listing.apartment.num_bathrooms }}
                </li>
                <li>
                    <span class="label">Size:</span>
                    {{ listing.apartment.size }}
                    m<sup>2</sup>
                </li>
                <li>
                    <span class="label">Type:</span>
                    {{ listing.apartment.apartment_type.name }}
                </li>
                <li>
                    <span class="label">Year built:</span>
                    {{ listing.apartment.year_built }}
                </li>
                <li>
                    <span class="label">Garage:</span>
                    {% if listing.apartment.garage_parking_space == True %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </li>
            </ul>
        </div>
        <hr />
        <p><b>Appraisal:</b></p>
        <h2 id="appraisal">
            <span id="appraisal_currency">ISK</span>
            {% localize on %}
                {{ listing.apartment.appraisal|intcomma }}
            {% endlocalize %}
        </h2>
        <hr />
        {% if user.id != listing.seller.id %}
        <div id="seller_profile_container">
            <p id="seller_label"><b>Seller:</b></p>
            <a href="/profiles/{{ listing.seller.id }}">
                <div 
                    class="profile-pic"
                    style="background-image: url({{ listing.seller.userinfo.profile_img.url }});">
                </div>
                <p id="seller_name">{{ listing.seller.userinfo|truncatechars:25 }}</p>
            </a>
        </div>
        <hr />
        {% endif %}
        <div id="your_offer_container">
        {% if accepted_offer != None and accepted_offer != offer %}
            <p class="offer-text">
                An offer for this apartment has already been accepted. The offer
                is awaiting verification from the staff at Castle Apartments.
            </p>
        {% elif listing.seller.id != user.id %}
            <p id="your_offer_label"><b>Your offer(s):</b></p>
            {% if not listing.processed %}
                <p class="offer-text">
                    This property has yet to be processed by the staff at
                    Castle Apartments. Therefore, making an offer to this
                    particular property is not available.
                </p>
            {% elif authenticated == False %}
                <p class="offer-text">
                    Please log in to view your offers for this property.
                </p>
                <button type="button" id="log_in_button" class="btn btn-link">
                    <a href="/login/?next=/listings/{{ listing.uuid }}/">Log in</a>
                </button>
            {% elif offer == None %}
                <p id="no_offer_text" class="offer-text">
                    You currently do not have a registered offer for this
                    particular listing, or your former offer has been declined.
                </p>
                <a 
                    href="/listings/{{ listing.uuid }}/offer"
                    class="btn btn-primary"
                    id="make_offer_button">
                    Make an offer
                </a>
            {% elif offer.accepted == False %}
                <p id="unaccepted_offer_text" class="offer-text">
                    Your offer is awaiting a response from
                    '{{ listing.seller.userinfo }}'. You can view your offer
                    below:
                </p>
                <div id="your_offer">
                    <ul>
                        <li>
                            <span>Request amount:</span>
                            {% localize on %}
                                ISK {{ offer.request_amount|intcomma }}
                            {% endlocalize %}
                        </li>
                        <li>
                            <span>Request date:</span>
                            {{ offer.request_date|date:"F" }}
                            {{ offer.request_date.day }},
                            {{ offer.request_date.year }}
                        </li>
                    </ul>
                </div>
                <button type="button" id="edit_offer_button" class="btn btn-link">
                    <a href="/listings/{{ listing.uuid }}/offer">Edit your offer</a>
                </button>
            {% elif offer.processed == False %}
                <p class="offer-text">
                    Your offer has been accepted and is being processed by the
                    staff at Castle Apartments. You can view your offer below:
                </p>
                <div id="your_offer">
                    <ul>
                        <li>
                            <span>Request amount:</span>
                            {% localize on %}
                                ISK {{ offer.request_amount|intcomma }}
                            {% endlocalize %}
                        </li>
                        <li>
                            <span>Request date:</span>
                            {{ offer.request_date|date:"F" }}
                            {{ offer.request_date.day }},
                            {{ offer.request_date.year }}
                        </li>
                    </ul>
                </div>
            {% else %}
                <p class="offer-text">
                    Your offer has been accepted by
                    '{{ listing.seller.userinfo }}' and by the staff at
                    Castle Apartments, congratulations! INSERT TEXT ABOUT WHAT'S
                    SUPPOSED TO HAPPEN NOW. You can view your offer below:
                </p>
                <div id="your_offer">
                    <ul>
                        <li>
                            <span>Request amount:</span>
                            {% localize on %}
                                ISK {{ offer.request_amount|intcomma }}
                            {% endlocalize %}
                        </li>
                        <li>
                            <span>Request date:</span>
                            {{ offer.request_date|date:"F" }}
                            {{ offer.request_date.day }},
                            {{ offer.request_date.year }}
                        </li>
                    </ul>
                </div>
            {% endif %}
        {% else %}
            <p class="offer-text">
                All offers to your property can be viewed below. Click on one
                of them in order to view more info about a certain offer.
            </p>
            <ul id="offer_list">
                {% if all_offers|length > 0 %}
                {% for curr_offer in all_offers %}
                    <li class="offer">
                    <a href="offers/{{ curr_offer.id }}/">
                        <div 
                            class="profile-pic"
                            style="background-image: url({{ curr_offer.buyer.userinfo.profile_img.url }})">
                        </div>
                        <p class="profile-name">{{ curr_offer.buyer.userinfo|truncatechars:25 }}</p>
                        <p class="offer-price">
                            (<span class="currency">ISK</span> {{ curr_offer.request_amount }})
                        </p>
                    </a>
                    </li>
                {% endfor %}
                {% else %}
                    <li>You don't seem to have any offers at this moment</li>
                {% endif %}
            </ul>
        {% endif %}
        </div>
    </div>
</div>
</main>
{% endblock content %}