{% extends "base.html" %}
{% load static %}
{% load sass_tags %}
{% load l10n %}
{% load humanize %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'castleapartments/sass/style.scss' %}" />
<link rel="stylesheet" type="text/css" href="{% sass_src 'castleapartments/sass/view_offer.scss' %}" />
<link rel="stylesheet" type="text/css" href="{% sass_src 'castleapartments/sass/asale.scss' %}" />
{% endblock styles %}

{% block title %}
<title>View - Castle Apartments</title>
{% endblock title %}

{% block scripts %}

{% endblock scripts %}

{% block content %}
<main>
    <div id="wrapper">
        <section id="listing_section">
            <h2>Listing</h2>
            <div class="listing-pic"
                style="background-image: url({{ offer.listing.apartment.apartmentimage_set.first.image.url }});">
            </div>
            <ul class="no-bullets">
                <li><b>Address:</b> {{ offer.listing.apartment.address }}</li>
                <li><b>Zip Code:</b> {{ offer.listing.apartment.postal_code.zip_code }}
                    <img src="{{offer.listing.apartment.postal_code.country.flag}}" alt="flag icon"><br></li>
                <li><b>
                        {% localize on %}
                        <span>ISK</span>
                        {{ offer.listing.apartment.appraisal|intcomma }}
                        {% endlocalize %}
                    </b></li>
            </ul>
            <a
                href="/listings/{{ offer.listing.uuid }}"
                class="btn btn-link">View Listing</a>
        </section>
        <div id="info_box">
            <section id="buyer_section">
                <h2>Buyer</h2>
                <div class="profile-pic" style="background-image: url({{ offer.buyer.userinfo.profile_img.url }});">
                </div>
                <ul class="no-bullets">
                    <li><b>Name:</b> {{ offer.buyer.userinfo }}</li>
                    <li><b>Email:</b> {{ offer.buyer.userinfo.email }}</li>
                </ul>
                <a 
                    href="/profiles/{{ offer.buyer.id }}"
                    class="btn btn-link">View Profile</a>
            </section>
            <section id="seller_section">
                <h2>Seller</h2>
                <div class="profile-pic"
                    style="background-image: url({{offer.listing.seller.userinfo.profile_img.url }});">
                </div>
                <ul class="no-bullets">
                    <li><b>Name:</b> {{ offer.listing.seller.userinfo }}</li>
                    <li><b>Email:</b> {{ offer.listing.seller.userinfo.email }}</li>
                </ul>
                <a 
                    href="/profiles/{{ offer.listing.seller.id }}"
                    class="btn btn-link">View Profile</a>
            </section>
            <section id="offer_section">
                <h2>Offer</h2>
                <ul class="no-bullets">
                    <li>
                        <b>Requested conveyance date:</b>
                        {{ offer.request_date|date:"F" }}
                        {{ offer.request_date.day }},
                        {{ offer.request_date.year }}
                    </li>
                    <li>
                        <b>Requested price:</b>
                        <span class="currency">ISK</span>
                        {{ offer.request_amount|intcomma|localize }}
                    </li>
                </ul>
            </section>
        </div>
        <section id="button_section">
            <a
                class="btn btn-raised btn-success"
                id=""
                href="complete/">
                Complete Sale
            </a>
            <a
                class="btn btn-raised btn-danger"
                id=""
                href="decline/">
                Decline Sale
            </a>
        </section>
    </div>
</main>
{% endblock content %}