{% extends "base.html" %}
{% load static %}
{% load sass_tags %}

{% block styles %}
    <link rel="stylesheet" type="text/css"
        <link rel="stylesheet" href="{% sass_src "castleapartments/sass/style.scss" %}">
{% endblock styles %}

{% block title %}
    <title>Index page</title>
{% endblock title %}

{% block scripts %}
    <script src="{% static 'castleapartments/js/script.js' %}" defer></script>
{% endblock scripts %}

{% block content %}
    <main>
        <div id="search_banner">
            <svg id="search_banner_background" viewBox="0 0 100 100"
                preserveAspectRatio="none">
                <polygon
                    points="0,80 100,100 0,100"
                    style="fill: #7E57C2; fill-rule: evenodd" />
                <polygon
                    points="0,0 100,0 100,50"
                    style="fill: #5E35B1; fill-rule: evenodd" />
                    />
            </svg>

            <div id="search_banner_content">
                <h1>Buy and sell properties. Online.</h1>
                <h5>
                    Use the form below to search for your dreamhouse or
                    <a href="#">sell an apartment</a> now!
                </h5>
                <form action="#" method="post">
                    {% csrf_token %}
                    <ul>
                        {% for field in form %}
                            {{ field.errors }}
                            <li class="{{ field.field.widget.attrs.class }}">
                                {{ field.label_tag }} {{ field }}
                            </li>
                        {% endfor %}
                    </ul>

                    <button id="search_button" type="button">
                        <svg viewBox="0 0 100 100" preserveAspectRatio="none">
                            <polygon
                                points="0,100 100,100 100,0"
                                style="fill: #F5F5F5">
                        </svg>
                        <img src="{% static 'icons/search.svg' %}" alt="Search" />
                        <p>Search</p>
                    </button>
                </form>
            </div>
        </div>
    </main>
    <img id="background_image" alt="" src="{% static 'background.jpg' %}" />
{% endblock content %}
