{% extends "base.html" %}
{% load static %}
{% load sass_tags %}
{% load l10n %}
{% load humanize %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% sass_src "castleapartments/sass/style.scss" %}">
<link rel="stylesheet" type="text/css" href="{% sass_src "castleapartments/sass/index.scss" %}">
{% endblock styles %}

{% block title %}
<title>All listings - Castle Apartments</title>
{% endblock title %}

{% block scripts %}
<script src="{% static 'castleapartments/js/createCard.js' %}" defer></script>
<script src="{% static 'castleapartments/js/script.js' %}" defer></script>
<script src="{% static 'castleapartments/js/search.js' %}" defer></script>
{% endblock scripts %}

{% block content %}
<div id="background_image" style='
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.4),
                    rgba(255, 255, 255, 0.4)),
                    url("{% static "background.jpg" %}")'>
</div>
<main>
    <div id="frontpage-div">
        <div id="search_banner">
            <svg id="search_banner_background" viewBox="0 0 100 100" preserveAspectRatio="none">
                <polygon points="0,80 100,100 0,100" style="fill: #7E57C2; fill-rule: evenodd" />
                <polygon points="0,0 100,0 100,50" style="fill: #5E35B1; fill-rule: evenodd" />
            </svg>

            <div id="search_banner_content">
                <h1>Buy and sell properties. Online.</h1>
                <h5>
                    Use the form below to search for your dreamhouse or
                    <a href="{% url 'sell' %}">sell an apartment</a> now!
                </h5>
                <form id="search_banner_form" action="#search-results" method="get" class="">
                    {% csrf_token %}
                    {% for field in form %}
                    {% if field.is_hidden %}
                    {{field}}
                    {% endif %}
                    {% endfor %}
                    <ul>
                        {{ form.address.errors }}
                        <li>
                            {{ form.address.label_tag }}
                            {{ form.address }}
                        </li>

                        {{ form.zip_code.errors }}
                        <li>
                            {{ form.zip_code.label_tag }}
                            {{ form.zip_code }}
                        </li>

                        {{ form.country.errors }}
                        <li>
                            {{ form.country.label_tag }}
                            {{ form.country }}
                        </li>

                        {{ form.town.errors }}
                        <li>
                            {{ form.town.label_tag }}
                            {{ form.town }}
                        </li>

                        {{ form.min_rooms.errors }}
                        {{ form.max_rooms.errors }}
                        <li class="multiple-inputs">
                            {{ form.min_rooms.label_tag }}
                            {{ form.min_rooms }}
                            {{ form.max_rooms.label_tag }}
                            {{ form.max_rooms }}
                        </li>

                        {{ form.min_price.errors }}
                        {{ form.max_price.errors }}
                        <li class="multiple-inputs">
                            {{ form.min_price.label_tag }}
                            {{ form.min_price }}
                            {{ form.max_price.label_tag }}
                            {{ form.max_price }}
                        </li>

                        {{ form.min_size.errors }}
                        {{ form.max_size.errors }}
                        <li class="multiple-inputs">
                            {{ form.min_size.label_tag }}
                            {{ form.min_size }}
                            {{ form.max_size.label_tag }}
                            {{ form.max_size }}
                        </li>

                        <li>
                            <label>Type:</label>
                            <div id="checkboxes_container" class="d-inline-flex">
                                <button type="button" id="checkbox_button" class="btn btn-primary">
                                    <span>Choose type(s)</span>
                                </button>
                                <div id="checkboxes">
                                    <ul>
                                        {% for type in apartment_types %}
                                        <li>
                                            <input
                                                type="checkbox"
                                                checked=""
                                                name="type"
                                                value="{{ type.id }}"
                                                id="checkbox_{{ type.id }}" />
                                            <label for="checkbox_{{ type.id}}">
                                                {{ type.name }}
                                            </label>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <button id="search_button" type="submit">
                        <svg viewBox="0 0 100 100" preserveAspectRatio="none">
                            <polygon points="0,100 100,100 100,0" style="fill: #F5F5F5" />
                        </svg>
                        <img src="{% static 'icons/search.svg' %}" alt="Search" />
                        Search
                    </button>
                </form>
            </div>
        </div>
        <div id="listing-hint">
            <svg width="59" height="49" viewBox="0 0 59 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="">
                    <!-- url(#filter0_d) -->
                    <path d="M12 8L29.5 33L47 8" stroke="#212121" stroke-width="8" stroke-linecap="round"
                        stroke-linejoin="round" />
                </g>
                <defs>
                    <filter id="filter0_d" x="-0.000732422" y="-0.000686646" width="59.0014" height="49.0007"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix"
                            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                        <feOffset dy="4" />
                        <feGaussianBlur stdDeviation="2" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                    </filter>
                </defs>
            </svg>
            <a href="#search-results">Scroll down to view our listings</a>
            <svg width="59" height="49" viewBox="0 0 59 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="">
                    <!-- url(#filter0_d) -->
                    <path d="M12 8L29.5 33L47 8" stroke="#212121" stroke-width="8" stroke-linecap="round"
                        stroke-linejoin="round" />
                </g>
                <defs>
                    <filter id="filter1_d" x="-0.000732422" y="-0.000686646" width="59.0014" height="49.0007"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix"
                            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                        <feOffset dy="4" />
                        <feGaussianBlur stdDeviation="2" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                    </filter>
                </defs>
            </svg>
        </div>
    </div>
    <div id="search-results">
        <div class="header" id="search_results_header">
            <svg viewBox="0 0 100 100" preserveAspectRatio="none">
                <polygon points="0,0 100,0 0,100" style="fill: #FFFFFF;fill-rule: evenodd;" />
                <polygon points="100,0 100,100 0,100" style="fill: #F5F5F5;fill-rule: evenodd" />
            </svg>
            <ul>
                <li>
                    <p>
                        <span id="listing-count">
                            {{ len_listings }}
                        </span>
                        Listings
                    </p>
                </li>
                <li>
                    <p id="order_by_text">Order by:</p>
                    {{form.order_by}}
                    <noscript>
                        <input type="submit" form="search_banner_form" value="Update">
                    </noscript>
                </li>
                <li>
                    <a id="edit_search" href="#frontpage-div">
                        <img id="edit_search_icon" alt=""
                            src="{% static 'icons/edit.svg' %}">
                        Edit search
                    </a>
                </li>
            </ul>
        </div>
        <button type="button" class="btn" id="history_button"
            data-original-text="Recently viewed"
            data-new-text="Back to listings">
            <img src="{% static 'icons/history.svg' %}"
                alt="View search history"
                class="icon" />
            Recently viewed
        </button>
        <div id="listings_container" class="container-fluid">
            {% for listing in listings %}
            {% if listing.processed == True %}
            <div class="card" data-id="{{ listing.uuid }}">
                <div class="card-img-top"
                    style="background-image: url({{listing.apartment.apartmentimage_set.first.image.url}});">
                    <p class="card-listing-date">Added: 
                        {{ listing.listing_date|date:"F" }}
                        {{ listing.listing_date.day }},
                        {{ listing.listing_date.year }}
                    </p>
                </div>
                <div class="card-body">
                    <h5 class="card-title no-margin">
                        {{ listing.apartment.address }}
                    </h5>
                    <p class="card-text no-margin text-sm">
                        {{ listing.apartment.postal_code.zip_code }},
                        {{ listing.apartment.postal_code.town }}
                    </p>
                    <p class="card-text no-margin text-sm">
                        <img src="{{listing.apartment.postal_code.country.flag}}" alt="flag icon"> 
                        {{ listing.apartment.postal_code.country.name }}
                    </p>
                    <p class="card-text no-margin text-sm">
                        {% if listing.apartment.apt_number != None %}
                            Apartment {{ listing.apartment.apt_number }}
                        {% endif %}
                    </p>
                    <p class="card-text card-apt-type">
                        <b>{{ listing.apartment.apartment_type.name }}</b>,
                        {{ listing.apartment.num_rooms }} bedrooms
                    </p>
                    <hr />
                    <h5 class="card-price">
                        {% localize on %}
                        <span>ISK</span>
                        {{ listing.apartment.appraisal|intcomma }}
                        {% endlocalize %}
                    </h5>
                    <hr />
                    <p class="card-text card-description">
                        {{ listing.apartment.description|truncatechars:listing.apartment.description_truncation_length }}
                    </p>
                </div>
                <a href="/listings/{{listing.uuid}}" class="card-link"></a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div id='page-selection-div' class="container-fluid text-center">
            <nav aria-label="..." id="page-selection-nav">
                <ul class="pagination d-flex justify-content-center p-4 m-0" id="page-selection-list">
                    <li class="page-item {% if page_number == 1 %}disabled{% endif %}">
                        <button class="page-link" type="submit" form="search_banner_form"
                            value="{{page_number|add:"-1"}}" name="page_number" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </button>
                    </li>
                    {% for a_page in pages %}
                        {% if a_page == page_number %}
                        <li class="page-item active">
                            <input class="page-link" type="submit" form="search_banner_form"
                                value="{{a_page}}" name="page_number" />
                            <span class="sr-only">(current)</span>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <input class="page-link" type="submit" form="search_banner_form"
                                value="{{a_page}}" name="page_number" />
                        </li>
                        {% endif %}
                    {% endfor %}
                    <li class="page-item {% if page_number == page_count %}disabled{% endif %}">
                        <button class="page-link" type="submit" form="search_banner_form"
                            value="{{page_number|add:"1"}}" name="page_number" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
        <div id="recently_viewed" class="container-fluid">
            <div id="recently_viewed_empty_message">
                <div id="empty_icon">
                    <img 
                        alt="History is empty"
                        src="{% static 'icons/empty.svg' %}" />
                </div>
                <p>
                    Seems like you have no recently viewed properties. Check out
                    some apartments to populate it!
                <p>
            </div>
            <div id="recently_viewed_loading_message">
                <p></p>
            </div>
        </div>
    </div>
</main>
{% endblock content %}