{% extends "base.html" %}
{% load static %}
{% load sass_tags %}
{% load l10n %}
{% load humanize %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% sass_src "castleapartments/sass/style.scss" %}">
<link rel="stylesheet" type="text/css" href="{% sass_src "castleapartments/sass/index.scss" %}">
{% endblock styles %}

{% block title %}
<title>All listings - Castle Apartments</title>
{% endblock title %}

{% block scripts %}
<script src="{% static 'castleapartments/js/script.js' %}" defer></script>
<script src="{% static 'castleapartments/js/search.js' %}" defer></script>
{% endblock scripts %}

{% block content %}
<div id="background_image" style='
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.4),
                    rgba(255, 255, 255, 0.4)),
                    url("{% static "background.jpg" %}")'>
</div>
<main>
    <div id="frontpage-div">
        <div id="search_banner">
            <svg id="search_banner_background" viewBox="0 0 100 100" preserveAspectRatio="none">
                <polygon points="0,80 100,100 0,100" style="fill: #7E57C2; fill-rule: evenodd" />
                <polygon points="0,0 100,0 100,50" style="fill: #5E35B1; fill-rule: evenodd" />
                />
            </svg>

            <div id="search_banner_content">
                <h1>Buy and sell properties. Online.</h1>
                <h5>
                    Use the form below to search for your dreamhouse or
                    <a href="{% url 'sell' %}">sell an apartment</a> now!
                </h5>
                <form id="search_banner_form" action="#" method="post" class="">
                    {% csrf_token %}
                    <ul>
                        {% for field in form %}
                        {% if field.is_hidden %}
                        {{ field}}
                        {% endif %}
                        {% endfor %}
                        {{ form.address.errors }}
                        <li>
                            {{ form.address.label_tag }}
                            {{ form.address }}
                        </li>

                        {{ form.zip_code.errors }}
                        <li>
                            {{ form.zip_code.label_tag }}
                            {{ form.zip_code }}
                        </li>

                        {{ form.country.errors }}
                        <li>
                            {{ form.country.label_tag }}
                            {{ form.country }}
                        </li>

                        {{ form.town.errors }}
                        <li>
                            {{ form.town.label_tag }}
                            {{ form.town }}
                        </li>

                        {{ form.min_rooms.errors }}
                        {{ form.max_rooms.errors }}
                        <li class="multiple-inputs">
                            {{ form.min_rooms.label_tag }}
                            {{ form.min_rooms }}
                            {{ form.max_rooms.label_tag }}
                            {{ form.max_rooms }}
                        </li>

                        {{ form.min_price.errors }}
                        {{ form.max_price.errors }}
                        <li class="multiple-inputs">
                            {{ form.min_price.label_tag }}
                            {{ form.min_price }}
                            {{ form.max_price.label_tag }}
                            {{ form.max_price }}
                        </li>

                        {{ form.min_size.errors }}
                        {{ form.max_size.errors }}
                        <li class="multiple-inputs">
                            {{ form.min_size.label_tag }}
                            {{ form.min_size }}
                            {{ form.max_size.label_tag }}
                            {{ form.max_size }}
                        </li>

                        <li id="checkboxes_container">
                            <label for="">Type:</label>
                            <button type="button" id="checkbox_button" class="btn btn-primary">
                                <span>Choose type(s)</span>

                                <div id="checkboxes">
                                    <ul>
                                        {% for type in apartment_types %}
                                        <li>
                                            <input
                                                type="checkbox"
                                                checked="true"
                                                name="type"
                                                value="{{ type.id }}"
                                                id="checkbox_{{ type.id }}" />
                                            <label for="checkbox_{{ type.id}}">
                                                {{ type.name }}
                                            </label>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </button>
                        </li>
                    </ul>

                    <button id="search_button" type="button">
                        <svg viewBox="0 0 100 100" preserveAspectRatio="none">
                            <polygon points="0,100 100,100 100,0" style="fill: #F5F5F5">
                        </svg>
                        <img src="{% static 'icons/search.svg' %}" alt="Search" />
                        <p>Search</p>
                    </button>
                </form>
            </div>
        </div>
        <div id="listing-hint">
            <svg width="59" height="49" viewBox="0 0 59 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="">
                    <!-- url(#filter0_d) -->
                    <path d="M12 8L29.5 33L47 8" stroke="#212121" stroke-width="8" stroke-linecap="round"
                        stroke-linejoin="round" />
                </g>
                <defs>
                    <filter id="filter0_d" x="-0.000732422" y="-0.000686646" width="59.0014" height="49.0007"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix"
                            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                        <feOffset dy="4" />
                        <feGaussianBlur stdDeviation="2" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                    </filter>
                </defs>
            </svg>
            <a href="#search-results">Scroll down to view our listings</a>
            <svg width="59" height="49" viewBox="0 0 59 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="">
                    <!-- url(#filter0_d) -->
                    <path d="M12 8L29.5 33L47 8" stroke="#212121" stroke-width="8" stroke-linecap="round"
                        stroke-linejoin="round" />
                </g>
                <defs>
                    <filter id="filter0_d" x="-0.000732422" y="-0.000686646" width="59.0014" height="49.0007"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix"
                            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                        <feOffset dy="4" />
                        <feGaussianBlur stdDeviation="2" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                    </filter>
                </defs>
            </svg>
        </div>
    </div>
    <div id="search-results">
        <div class="header" id="search_results_header">
            <svg viewBox="0 0 100 100" preserveAspectRatio="none">
                <polygon points="0,0 100,0 0,100" style="fill: #FFFFFF;fill-rule: evenodd;" />
                <polygon points="100,0 100,100 0,100" style="fill: #F5F5F5;fill-rule: evenodd" />
            </svg>
            <ul>
                <li>
                    <p>
                        <span id="listing-count">
                            {{ len_listings }}
                        </span>
                        Listings
                    </p>
                </li>
                <li>
                    <p>Order by:</p>
                    <select>
                        <option>Newest</option>
                        <option>Oldest</option>
                        <option>Least expensive</option>
                        <option>Most expensive</option>
                        <option>Postal code</option>
                        <option>Address</option>
                    </select>
                </li>
                <li>
                    <a id="edit_search" href="#frontpage-div">
                        <img src="{% static 'icons/edit.svg' %}">
                        <p>Edit search</p>
                    </a>
                </li>
            </ul>
        </div>
        <button type="button" class="btn" id="history_button">
            <img 
                src="{% static 'icons/history.svg' %}"
                alt="View search history"
                class="icon" />
            <p>View search history</p>
        </button>
        <div id="listings_container" class="container-fluid">
            {% for listing in listings %}
            {% if listing.processed == True %}
            <div class="card">
                <div class="card-img-top"
                    style="background-image: url({{listing.apartment.apartmentimage_set.first.image.url}});">
                    <p class="card-listing-date">
                        {{ listing.listing_date|date:"F" }}
                        {{ listing.listing_date.day }},
                        {{ listing.listing_date.year }}
                    </p>
                </div>
                <div class="card-body">
                    <h5 class="card-title no-margin">
                        {{ listing.apartment.address }}
                    </h5>
                    <p class="card-text no-margin text-sm">
                        {{ listing.apartment.postal_code.zip_code }},
                        {{ listing.apartment.postal_code.town }}
                    </p>
                    <p class="card-text no-margin text-sm">
                        <img src="{{listing.apartment.postal_code.country.flag}}" alt="flag icon"> 
                        {{ listing.apartment.postal_code.country.name }}
                    </p>
                    <p class="card-text no-margin text-sm">
                        {% if listing.apartment.apt_number != None %}
                            Apartment {{ listing.apartment.apt_number }}
                        {% endif %}
                    </p>
                    <p class="card-text card-apt-type">
                        <b>{{ listing.apartment.apartment_type.name }}</b>,
                        {{ listing.apartment.num_rooms }} bedrooms
                    </p>
                    <hr />
                    <h5 class="card-price">
                        {% localize on %}
                        <span>ISK</span>
                        {{ listing.apartment.appraisal|intcomma }}
                        {% endlocalize %}
                    </h5>
                    <hr />
                    <p class="card-text card-description">
                        {{ listing.apartment.description|truncatechars:listing.apartment.description_truncation_length }}
                    </p>
                </div>
                <a href="/listing/{{listing.uuid}}" class="card-link"></a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div id="search_history" class="container-fluid">
            <p>This is your search history...</p>
        </div>
    </div>
</main>
{% endblock content %}