{% extends "base.html" %}
{% load static %}
{% load sass_tags %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% sass_src "castleapartments/sass/style.scss" %}">
<link rel="stylesheet" type="text/css" href="{% sass_src "castleapartments/sass/listing.scss" %}">
{% endblock styles %}

{% block title %}
<title> Listing </title>
{% endblock title %}

{% block content %}
<div id="background_image" style='
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.4),
                    rgba(255, 255, 255, 0.4)),
                    url("{% static "background.jpg" %}")'>
</div>
<main>
    <div id="main_listing">
        <div id="listing-head">
            <div id="listing-images">

            </div>
            <div id="listing-info-card">

            </div>
            <div id="listing-main-info">

            </div>
        </div>
        <div id="listing-destription">
            <div id="listing-text">

            </div>
            <div id="listing-map">

            </div>
        </div>
        <div id="listings-offers">

        </div>
    </div>
</main>
{% endblock content %}