{% extends "base.html" %}
{% load static %}
{% load sass_tags %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% sass_src "castleapartments/sass/style.scss" %}">
<link rel="stylesheet" type="text/css" href="{% sass_src "castleapartments/sass/login.scss" %}">
{% endblock styles %}

{% block title %}
<title> Login </title>
{% endblock title %}

{% block content %}
<div id="background_image" style='
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.4),
                    rgba(255, 255, 255, 0.4)),
                    url("{% static "background.jpg" %}")'>
</div>
<main>
    <div id="main_banner">
        <svg id="main_banner_background" viewBox="0 0 100 100" preserveAspectRatio="none">
            <polygon points="0,80 100,100 0,100" style="fill: #7E57C2; fill-rule: evenodd" />
            <polygon points="0,0 100,0 100,50" style="fill: #5E35B1; fill-rule: evenodd" />
        </svg>
        <div id="main_banner_content" class="container-full">
            <div class="container text-center">
                <h1>Enter your credentials.</h1>
            </div>
            <form action="#" method="post" class="d-flex flex-wrap justify-content-around container-full">
                {% csrf_token %}
                <section>
                    <table>
                        {{ form }}
                    </table>
                </section>
                <div class="container-full text-center">
                    <input type="submit" value="Login" class="btn btn-outline-primary box-shadow">
                </div>
            </form>
            <div id="signup_btn" class="container-full text-center">
                <p> Don’t have an account yet? </p>
                <input type="submit" value="Sign Up" class="btn btn-outline-primary box-shadow">
            </div>
        </div>
    </div>
</main>
{% endblock content %}