{% extends "base.html" %}
{% load static %}
{% load sass_tags %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% sass_src "castleapartments/sass/style.scss" %}">
<link rel="stylesheet" type="text/css" href="{% sass_src "castleapartments/sass/sell.scss" %}">
{% endblock styles %}

{% block scripts %}
<script src="{% static 'castleapartments/js/offer.js' %}" defer></script>
{% endblock scripts %}

{% block content %}
<main>
    <form id="sellform" method="POST" class="" action="#confirmform">
        {% csrf_token %}
        <div id="paymentform" class="forms">
            <div class="navdiv">
                <div class="navigationdivs">
                    <a href="#" class="btn btn-primary">Make offer</a>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs">
                    <a href="#" class="btn btn-primary">Your info</a>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs current">
                    <span class="btn">Payment</span>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs">
                    <span>Review</span>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs">
                    <span>Confirm</span>
                </div>
            </div>
            <div class="form-body">
                <h1>Payment details</h1>
                <table>
                    <tr>
                        <th>{{ offerform.offer_amount.label_tag }}</th>
                        <td>{{ offerform.offer_amount }}</td>
                    </tr>
                    <tr>
                        <th>{{ offerform.conveyance_date.label_tag }}</th>
                        <td>{{ offerform.conveyance_date }}</td>
                    </tr>

                    {{ creditcardform }}
                </table>
                <div class="buttonsdiv">
                    <div class="prevstep">
                        <a class="btn btn-outline-secondary box-shadow" href="#" id="paymentprevlink">
                            Previous step
                        </a>
                    </div>
                    <div class="next_button">
                        <a class="btn btn-outline-primary box-shadow" id="paymentnextlink" href="#reviewform">
                            Next step
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="reviewform" class="forms">
            <div class="navdiv">
                <div class="navigationdivs finished">
                    <a href="#" class="btn btn-primary">Make offer</a>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs">
                    <a href="#" class="btn btn-primary">Your info</a>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs finished">
                    <a href="#paymentform" class="btn btn-primary">Payment</a>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs current reviewdiv">
                    <span class="btn">Review</span>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs confirmdiv">
                    <span>Confirm</span>
                </div>
            </div>
            <div class="form-body">
                <h1>Review offer information</h1>
                <h4 id="addressheader"></h4>
                <h4>Your offer for {{ listing.apartment.address }}:</h4>
                <div id="table1div">
                    <table id="offerreviewtable1">
                        <tr>
                            <th class="tablelabel">{{ offerform.offer_amount.label_tag }}</th>
                            <td id="amounttd"></td>
                        </tr>
                        <tr>
                            <th class="tablelabel">{{ offerform.conveyance_date.label_tag }}</th>
                            <td id="conveyancetd"></td>
                        </tr>
                    </table>
                </div>
                <h4>Your payment info:</h4>
                <table id="reviewtable2">
                    <tr>
                        <th class="tablelabel">Name:</th>
                        <td>{{ user.userinfo.first_name }} {{ user.userinfo.last_name }}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">Address:</th>
                        <td>{{ user.userinfo.address }}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">Credit Card:</th>
                        <td id="creditcardtd"></td>
                    </tr>
                    <tr>
                        <th class="tablelabel">CC expiry date:</th>
                        <td id="ccexpirytd"></td>
                    </tr>
                </table>
                <p>By confirming this offer you agree to pay the given amount
                    <br>should it be accepted.</p>
                <div class="buttonsdiv" id="reviewbuttondiv">
                    <div class="prevstep">
                        <a class="btn btn-outline-secondary box-shadow" href="#paymentform" id="reviewprevlink">
                            Previous step
                        </a>
                    </div>
                    <div class="next_button">
                        <button class="btn btn-outline-success box-shadow" id="reviewnextlink" type="submit">
                            Confirm listing
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="confirmform" class="forms">
            <div class="navdiv">
                <div class="navigationdivs finished">
                    <a href="#" class="btn btn-primary">Make offer</a>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs">
                    <a href="#" class="btn btn-primary">Your info</a>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs">
                    <a href="#paymentform" class="btn btn-primary">Payment</a>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs">
                    <a href="#reviewform" class="btn btn-primary">Review</a>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs current">
                    <span class="btn">Confirm</span>
                </div>
            </div>
            {% if offer %}
            <div class="form-body">
                <h1>Your offer has been sent!</h1>
                <p>
                    A reciept along with seller contact information has been sent to your email address.
                </p>
                <p>You will be notified if your offer is accepted!</p>
                <div class="next_button">
                    <a class="btn btn-outline-primary box-shadow" href="{% url 'listing' offer.listing.uuid %}"
                        id="button2">
                        Return to listing</a>
                </div>
            </div>
            {% else %}
            <div class="form-body">
                <h1>There was a problem!</h1>
                <p>Something was not submitted correctly. Please take another look to correct any errors.</p>
                <div class="prevstep">
                    <a class="btn btn-outline-secondary box-shadow" href="#paymentform">
                        Go back to fix errors
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
        <div id="infoform" class="forms">
            <div class="navdiv">
                <div class="navigationdivs finished">
                    <a href="#" class="btn btn-primary">Make offer</a>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs current">
                    <a class="btn">Your info</a>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs">
                    <span>Payment</span>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs">
                    <span>Review</span>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs">
                    <span>Confirm</span>
                </div>
            </div>
            <div class="form-body">
                <h1>Make an offer</h1>
                <h3>Your personal information</h3>
                <table id="infotable">
                    <tr>
                        <th class="tablelabel">Name:</th>
                        <td>{{ user.userinfo.first_name }} {{ user.userinfo.last_name }}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">Email address:</th>
                        <td>{{ user.userinfo.email }}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">Birthday:</th>
                        <td>{{ user.userinfo.DoB }}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">Phone:</th>
                        <td>{{ user.userinfo.phone_number }}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">SSN:</th>
                        <td>{{ user.userinfo.SSN }}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">Country:</th>
                        <td>{{ user.userinfo.postal_code.country }}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">Zip code:</th>
                        <td>{{ user.userinfo.postal_code.zip_code }}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">Town:</th>
                        <td>{{ user.userinfo.postal_code.town }}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">Address:</th>
                        <td>{{ user.userinfo.address }}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">Apt. number:</th>
                        <td>{{ user.userinfo.apt_number }}</td>
                    </tr>
                </table>
                <div class="buttonsdiv">
                    <div id="edit_button">
                        <a class="btn btn-outline-secondary box-shadow" href="{% url 'editprofile' %}">
                            Edit profile
                            <img src="{% static 'icons/edit.svg' %}" id="editimg" alt="">
                        </a>
                    </div>
                    <div class="next_button">
                        <a class="btn btn-outline-primary box-shadow" href="#paymentform">
                            Next Step
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>
{% endblock content %}