{% extends "base.html" %}
{% load static %}
{% load sass_tags %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% sass_src "castleapartments/sass/style.scss" %}">
<link rel="stylesheet" type="text/css" href="{% sass_src "castleapartments/sass/sell.scss" %}">
{% endblock styles %}

{% block title %}
<title> Offer </title>
{% endblock title %}

{% block scripts %}
<script src="{% static 'castleapartments/js/offer.js' %}" defer></script>
{% endblock scripts %}

{% block content %}
<main>
    <form id="sellform" method="POST" class="" action="#confirmform">
        {% csrf_token %}
        <div id="paymentform" class="forms">
            <div class="navdiv">
                <div id="makeofferdiv" class="navigationdivs finished">
                    <p class="textindiv">Make offer</p>
                </div>
                <div class="arrowdiv" style='background-image: url("{% static "icons/arrowright.svg" %}")'></div>
                <div id="yourinfodiv" class="navigationdivs finished">
                    <p class="textindiv">Your Info</p>
                </div>
                <div class="arrowdiv" style='background-image: url("{% static "icons/arrowright.svg" %}")'></div>
                <div id="paymentdiv" class="navigationdivs current">
                    <p class="textindiv">Payment</p>
                </div>
                <div class="arrowdiv" style='background-image: url("{% static "icons/arrowright.svg" %}")'></div>
                <div id="reviewdiv" class="navigationdivs">
                    <p class="textindiv">Review</p>
                </div>
                <div class="arrowdiv" style='background-image: url("{% static "icons/arrowright.svg" %}")'></div>
                <div id="confirmdiv" class="navigationdivs">
                    <p class="textindiv">Confirm</p>
                </div>
            </div>
            <div class="form-body">
                <h1>Payment details</h1>
                <table>
                    <tr>
                        <th>{{ offerform.offer_amount.label_tag }}</th>
                        <td>{{ offerform.offer_amount }}</td>
                    </tr>
                    <tr>
                        <th>{{ offerform.conveyance_date.label_tag }}</th>
                        <td>{{ offerform.conveyance_date }}</td>
                    </tr>

                    {{ creditcardform }}
                </table>
                <div class="buttonsdiv">
                    <div class="prevstep">
                        <a class="btn btn-outline-secondary box-shadow" href="#" id="paymentprevlink">
                            Previous step
                        </a>
                    </div>
                    <div class="next_button">
                        <a class="btn btn-outline-primary box-shadow" id="paymentnextlink" href='#reviewform'>
                            Next step
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="reviewform" class="forms">
            <div class="navdiv">
                <div id="makeofferdiv" class="navigationdivs finished">
                    <p class="textindiv">Make offer</p>
                </div>
                <div class="arrowdiv" style='background-image: url("{% static "icons/arrowright.svg" %}")'></div>
                <div id="yourinfodiv" class="navigationdivs finished">
                    <p class="textindiv">Your Info</p>
                </div>
                <div class="arrowdiv" style='background-image: url("{% static "icons/arrowright.svg" %}")'></div>
                <div id="paymentdiv" class="navigationdivs finished">
                    <p class="textindiv">Payment</p>
                </div>
                <div class="arrowdiv" style='background-image: url("{% static "icons/arrowright.svg" %}")'></div>
                <div id="reviewdiv" class="navigationdivs current">
                    <p class="textindiv">Review</p>
                </div>
                <div class="arrowdiv" style='background-image: url("{% static "icons/arrowright.svg" %}")'></div>
                <div id="confirmdiv" class="navigationdivs">
                    <p class="textindiv">Confirm</p>
                </div>
            </div>
            <div class="form-body">
                <h1>Review offer information</h1>
                <h4 id="addressheader"></h4>
                <h4 id="temph2">Your requested house:</h4>
                <h4>Here will be a card of the house</h4>
                <h4>Your offer for {{ listing.apartment.address }}:</h4>
                <div id="table1div">
                    <table id="offerreviewtable1">
                        <tr>
                            <th class="tablelabel">{{ offerform.offer_amount.label_tag }}</th>
                            <td id="amounttd"></td>
                        </tr>
                        <tr>
                            <th class="tablelabel">{{ offerform.conveyance_date.label_tag }}</th>
                            <td id="conveyancetd"></td>
                        </tr>
                    </table>
                </div>
                <h4>Your payment info:</h4>
                <table id="reviewtable2">
                    <tr>
                        <th class="tablelabel">Name:</th>
                        <td>{{ user.userinfo.first_name }} {{ user.userinfo.last_name }}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">Address:</th>
                        <td>{{ user.userinfo.address }}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">Credit Card:</th>
                        <td id="creditcardtd"></td>
                    </tr>
                    <tr>
                        <th class="tablelabel">CC expiry date:</th>
                        <td id="ccexpirytd"></td>
                    </tr>
                </table>
                <p>By confirming this offer you agree to pay the given amount
                    <br>should it be accepted.</p>
                <div class="buttonsdiv" id="reviewbuttondiv">
                    <div class="prevstep">
                        <a class="btn btn-outline-secondary box-shadow" href="#paymentform" id="reviewprevlink">
                            Previous step
                        </a>
                    </div>
                    <div class="next_button">
                        <a class="btn btn-outline-primary box-shadow" id="reviewnextlink" href='#confirmform'>
                            Next step
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="confirmform" class="forms">
            <div class="navdiv">
                <div id="makeofferdiv" class="navigationdivs finished">
                    <p class="textindiv">Make offer</p>
                </div>
                <div class="arrowdiv" style='background-image: url("{% static "icons/arrowright.svg" %}")'></div>
                <div id="yourinfodiv" class="navigationdivs finished">
                    <p class="textindiv">Your Info</p>
                </div>
                <div class="arrowdiv" style='background-image: url("{% static "icons/arrowright.svg" %}")'></div>
                <div id="paymentdiv" class="navigationdivs finished">
                    <p class="textindiv">Payment</p>
                </div>
                <div class="arrowdiv" style='background-image: url("{% static "icons/arrowright.svg" %}")'></div>
                <div id="reviewdiv" class="navigationdivs finished">
                    <p class="textindiv">Review</p>
                </div>
                <div class="arrowdiv" style='background-image: url("{% static "icons/arrowright.svg" %}")'></div>
                <div id="confirmdiv" class="navigationdivs current">
                    <p class="textindiv">Confirm</p>
                </div>
            </div>
            <div class="form-body">
                <h1>Your new sale listing is now complete!</h1>
                <p>However, it will not be visible to other users unitl it's validity is confirmed
                    by our staff.</p>
                <p>You will recieve a confirmation email once the listing is verified.</p>
                <p>Thank you for choosing Castle Apartments!</p>
                <a href='/'>
                    <div class="next_button">
                        <button class="btn btn-outline-primary box-shadow" id="button2" type="button">
                            Return to listing</button>
                    </div>
                </a>
            </div>
        </div>
        <div id="infoform" class="forms">
            <div class="navdiv">
                <div id="makeofferdiv" class="navigationdivs finished">
                    <p class="textindiv">Make offer</p>
                </div>
                <div class="arrowdiv" style='background-image: url("{% static "icons/arrowright.svg" %}")'></div>
                <div id="yourinfodiv" class="navigationdivs current">
                    <p class="textindiv">Your Info</p>
                </div>
                <div class="arrowdiv" style='background-image: url("{% static "icons/arrowright.svg" %}")'></div>
                <div id="paymentdiv" class="navigationdivs">
                    <p class="textindiv">Payment</p>
                </div>
                <div class="arrowdiv" style='background-image: url("{% static "icons/arrowright.svg" %}")'></div>
                <div id="reviewdiv" class="navigationdivs">
                    <p class="textindiv">Review</p>
                </div>
                <div class="arrowdiv" style='background-image: url("{% static "icons/arrowright.svg" %}")'></div>
                <div id="confirmdiv" class="navigationdivs">
                    <p class="textindiv">Confirm</p>
                </div>
            </div>
            <div class="form-body">
                <h1>Make an offer</h1>
                <h3>Your personal information</h3>
                <table id="infotable">
                    <tr>
                        <th class="tablelabel">Name:</th>
                        <td>{{ user.userinfo.first_name }} {{ user.userinfo.last_name }}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">Email address:</th>
                        <td>{{ user.userinfo.email }}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">Birthday:</th>
                        <td>{{ user.userinfo.DoB }}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">Phone:</th>
                        <td>{{ user.userinfo.phone_number }}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">SSN:</th>
                        <td>{{ user.userinfo.SSN }}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">Country:</th>
                        <td>{{ user.userinfo.postal_code.country }}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">Zip code:</th>
                        <td>{{ user.userinfo.postal_code.zip_code }}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">Town:</th>
                        <td>{{ user.userinfo.postal_code.town }}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">Address:</th>
                        <td>{{ user.userinfo.address }}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">Apt. number:</th>
                        <td>{{ user.userinfo.apt_number }}</td>
                    </tr>
                </table>
                <div class="buttonsdiv">
                    <div id="edit_button">
                        <a class="btn btn-outline-secondary box-shadow" type="button" href="{% url 'editprofile' %}">
                            Edit profile
                            <img src="{% static 'icons/edit.svg' %}" id="editimg">
                        </a>
                    </div>
                    <div class="next_button">
                        <a class="btn btn-outline-primary box-shadow" type="button" href="#paymentform">
                            Next Step
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>
{% endblock content %}