{% extends "base.html" %}
{% load static %}
{% load sass_tags %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% sass_src "castleapartments/sass/style.scss" %}">
<link rel="stylesheet" type="text/css" href="{% sass_src "castleapartments/sass/sell.scss" %}">
{% endblock styles %}

{% block scripts %}
<script src="{% static 'castleapartments/js/sell.js' %}" defer></script>
<script src="{% static 'castleapartments/js/getTown.js' %}" defer></script>
{% endblock scripts %}

{% block content %}
<main>
    <form id="sellform" method="POST" class="" action="#confirmform" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="basicform" class="forms">
            <div class="navdiv">
                <div class="navigationdivs sellapartmentdiv">
                    <p class="textindiv">Sell apartm.</p>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs finished yourinfodiv">
                    <p class="textindiv">Your Info</p>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs current basicdiv">
                    <p class="textindiv">Basic</p>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs detaildiv">
                    <p class="textindiv">Detailed</p>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs reviewdiv">
                    <p class="textindiv">Review</p>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs confirmdiv">
                    <p class="textindiv">Confirm</p>
                </div>
            </div>
            <div class="form-body">
                <h1>Sell an apartment</h1>
                <h3>Location</h3>
                <table id="basictable1">
                    <tr>
                        <th class="tablelabel">{{ form.country.label_tag }}</th>
                        <td>{{ form.country.errors }}{{ form.country }}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">{{ form.zip_code.label_tag }}</th>
                        <td>{{ form.zip_code.errors }}{{ form.zip_code }}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">{{ form.town.label_tag }}</th>
                        <td>{{ form.town }}{{ form.town.errors }}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">{{ form.address.label_tag }}</th>
                        <td>{{ form.address.errors }}{{ form.address }}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">{{ form.apt_number.label_tag }}</th>
                        <td>{{ form.apt_number.errors }}{{ form.apt_number }}</td>
                    </tr>
                </table>
                <h3>Appraisal</h3>
                <table id="basictable2">
                    <tr>
                        <th class="tablelabel">{{ form.appraisal.label_tag }}</th>
                        <td>{{ form.appraisal.errors }}{{ form.appraisal }}</td>
                    </tr>
                </table>
                <div class="buttonsdiv">
                    <div class="prevstep">
                        <a class="btn btn-outline-secondary box-shadow" href="#">
                            Previous step
                        </a>
                    </div>
                    <div class="next_button">
                        <a class="btn btn-outline-primary box-shadow" id="basicnextlink"
                            href="#detailform">
                            Next step
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="detailform" class="forms">
            <div class="navdiv">
                <div class="navigationdivs sellapartmentdiv">
                    <p class="textindiv">Sell apartm.</p>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs finished yourinfodiv">
                    <p class="textindiv">Your Info</p>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs finished basicdiv">
                    <p class="textindiv">Basic</p>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs current detaildiv">
                    <p class="textindiv">Detailed</p>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs reviewdiv">
                    <p class="textindiv">Review</p>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs confirmdiv">
                    <p class="textindiv">Confirm</p>
                </div>
            </div>
            <div class="form-body">
                <h1>Sell an apartment</h1>
                <h3>Property info</h3>
                <table id="detailtable1">
                    <tr>
                        <th class="tablelabel">{{ form.num_of_rooms.label_tag }}</th>
                        <td>{{ form.num_of_rooms.errors }}{{ form.num_of_rooms }}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">{{ form.num_of_toilets.label_tag }}</th>
                        <td>{{ form.num_of_toilets.errors }}{{ form.num_of_toilets }}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">{{ form.size.label_tag }}</th>
                        <td>{{ form.size.errors }}{{ form.size }}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">{{ form.type.label_tag}}</th>
                        <td>{{ form.type.errors }}{{ form.type }}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">{{ form.images.label_tag }}</th>
                        <td>{{ form.images.errors }}{{ form.images }}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">{{ form.year_built.label_tag }}</th>
                        <td>{{ form.year_built.errors }}{{ form.year_built }}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">{{ form.garage.label_tag }}</th>
                        <td>
                            {{ form.garage.errors }}
                            {% for radio in form.garage %}
                            <div class="form-check form-check-inline">
                                {{radio.tag}}
                                <label class="form-check-label"
                                    for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                            </div>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th class="tablelabel">{{ form.description.label_tag }}</th>
                        <td>{{ form.description.errors }}{{ form.description }}</td>
                    </tr>
                </table>
                <div class="buttonsdiv" id="detailbuttons">
                    <div class="prevstep">
                        <a class="btn btn-outline-secondary box-shadow" href="#basicform">Previous
                            step</a>
                    </div>
                    <div class="next_button">
                        <a href="#reviewform" class="btn btn-outline-primary box-shadow" id="detailnextlink"
                            >Next
                            step</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="reviewform" class="forms">
            <div class="navdiv">
                <div class="navigationdivs sellapartmentdiv">
                    <p class="textindiv">Sell apartm.</p>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs finished yourinfodiv">
                    <p class="textindiv">Your Info</p>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs finished basicdiv">
                    <p class="textindiv">Basic</p>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs finished detaildiv">
                    <p class="textindiv">Detailed</p>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs current reviewdiv">
                    <p class="textindiv">Review</p>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs confirmdiv">
                    <p class="textindiv">Confirm</p>
                </div>
            </div>
            <div class="form-body">
                <h1>Sell an apartment - Review</h1>
                <h2 id="addressheader"></h2>
                <div class="tablesdiv">
                    <h3>Location</h3>
                    <table id="reviewtable1">
                        <tr>
                            <th class="tablelabel">{{ form.country.label_tag }}</th>
                            <td id="countrytd"></td>
                        </tr>
                        <tr>
                            <th class="tablelabel">{{ form.zip_code.label_tag }}</th>
                            <td id="zipcodetd"></td>
                        </tr>
                        <tr>
                            <th class="tablelabel">{{ form.town.label_tag }}</th>
                            <td id="towntd"></td>
                        </tr>
                        <tr>
                            <th class="tablelabel">{{ form.apt_number.label_tag }}</th>
                            <td id="aptnumbertd"></td>
                        </tr>
                    </table>
                </div>
                <div class="seperator"></div>
                <div class="tablesdiv">
                    <h3>Property info</h3>
                    <table id="reviewtable2">
                        <tr>
                            <th class="tablelabel">{{ form.num_of_rooms.label_tag }}</th>
                            <td id="numofroomstd"></td>
                        </tr>
                        <tr>
                            <th class="tablelabel">{{ form.num_of_toilets.label_tag }}</th>
                            <td id="numoftoiletstd"></td>
                        </tr>
                        <tr>
                            <th class="tablelabel">{{ form.size.label_tag }}</th>
                            <td id="sizetd"></td>
                        </tr>
                        <tr>
                            <th class="tablelabel">{{ form.type.label_tag }}</th>
                            <td id="typetd"></td>
                        </tr>
                        <tr>
                            <th class="tablelabel">{{ form.year_built.label_tag }}</th>
                            <td id="yearbuilttd"></td>
                        </tr>
                        <tr>
                            <th class="tablelabel">{{ form.garage.label_tag }}</th>
                            <td id="garagetd"></td>
                        </tr>
                        <tr>
                            <th class="tablelabel">{{ form.appraisal.label_tag }}</th>
                            <td id="appraisaltd"></td>
                        </tr>
                    </table>
                </div>
                <div>
                    <h4>Description:</h4>
                    <p id="descriptiontext"></p>
                </div>
                <div class="buttonsdiv" id="reviewbuttondiv">
                    <div class="prevstep">
                        <a class="btn btn-outline-secondary box-shadow" href="#detailform">
                            Previous step</a>
                    </div>
                    <div class="next_button">
                        <button class="btn btn-outline-success box-shadow" id="button2" type="submit">
                            Confirm listing
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <div id="confirmform" class="forms">
            <div class="navdiv">
                <div class="navigationdivs sellapartmentdiv">
                    <p class="textindiv">Sell apartm.</p>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs finished yourinfodiv">
                    <p class="textindiv">Your Info</p>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs finished basicdiv">
                    <p class="textindiv">Basic</p>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs finished detaildiv">
                    <p class="textindiv">Detailed</p>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs finished reviewdiv">
                    <p class="textindiv">Review</p>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs current confirmdiv">
                    <p class="textindiv">Confirm</p>
                </div>
            </div>
            {% if listing %}
            <div class="form-body">
                <h1>Your new sale listing is now complete!</h1>
                <p>However, it will not be visible to other users unitl it's validity is confirmed
                    by our staff.</p>
                <p>You will recieve a confirmation email once the listing is verified.</p>
                <p>Thank you for choosing Castle Apartments!</p>
                <div class="next_button">
                    <a class="btn btn-outline-primary box-shadow" href="{% url 'listing' listing.uuid %}" id="button2">
                        Return to listing</a>
                </div>
            </div>
            {% else %}
            <div class="form-body">
                <h1>There was a problem!</h1>
                <p>Something was not submitted correctly. Please take another look to correct any errors.</p>
                <div class="prevstep">
                    <a class="btn btn-outline-secondary box-shadow" href="#basicform">
                        Go back to fix errors
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
        <div id="infoform" class="forms">
            <div class="navdiv">
                <div class="navigationdivs sellapartmentdiv">
                    <p class="textindiv">Sell apartm.</p>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs yourinfodiv">
                    <p class="textindiv">Your Info</p>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs basicdiv">
                    <p class="textindiv">Basic</p>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs detaildiv">
                    <p class="textindiv">Detailed</p>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs reviewdiv">
                    <p class="textindiv">Review</p>
                </div>
                <div class="arrowdiv" style="background-image: url('{% static 'icons/arrowright.svg' %}')"></div>
                <div class="navigationdivs confirmdiv">
                    <p class="textindiv">Confirm</p>
                </div>
            </div>
            <div class="form-body">
                <h1>Sell an apartment</h1>
                <h3>Your personal information</h3>
                <table id="infotable">
                    <tr>
                        <th class="tablelabel">Name:</th>
                        <td>{{user.userinfo.first_name}} {{user.userinfo.last_name}}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">Email address:</th>
                        <td>{{user.userinfo.email}}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">Birthday:</th>
                        <td>{{user.userinfo.DoB}}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">Phone:</th>
                        <td>{{user.userinfo.phone_number}}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">SSN:</th>
                        <td>{{user.userinfo.SSN}}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">Country:</th>
                        <td>{{user.userinfo.postal_code.country}}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">Zip code:</th>
                        <td>{{user.userinfo.postal_code.zip_code}}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">Town:</th>
                        <td>{{ user.userinfo.postal_code.town }}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">Address:</th>
                        <td>{{user.userinfo.address}}</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">Apt. number:</th>
                        <td>{{user.userinfo.apt_number}}</td>
                    </tr>
                </table>
                <div class="buttonsdiv">
                    <div id="edit_button">
                        <a class="btn btn-outline-secondary box-shadow" href="{% url 'editprofile' %}">
                            Edit profile
                            <img src="{% static 'icons/edit.svg' %}" id="editimg" alt="">
                        </a>
                    </div>
                    <div class="next_button">
                        <a class="btn btn-outline-primary box-shadow" href="#basicform">
                            Next Step
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>
{% endblock content %}