{% extends "base.html" %}
{% load static %}
{% load sass_tags %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% sass_src "castleapartments/sass/style.scss" %}">
<link rel="stylesheet" type="text/css" href="{% sass_src "castleapartments/sass/sell.scss" %}">
{% endblock styles %}

{% block title %}
<title> Sell </title>
{% endblock title %}

{% block content %}
<main>
    <div id="navdiv">
        <div id="sellapartmentdiv" class="navigationdivs">
            <p class="textindiv">Sell apartm.</p>
        </div>
        <div class="arrowdiv"
        style='background-image: url("{% static "icons/arrowright.svg" %}")'></div>
        <div id="yourinfodiv" class="navigationdivs">
            <p class="textindiv">Your Info</p>
        </div>
        <div class="arrowdiv"
        style='background-image: url("{% static "icons/arrowright.svg" %}")'></div>
        <div id="basicdiv" class="navigationdivs">
            <p class="textindiv">Basic</p>
        </div>
        <div class="arrowdiv"
        style='background-image: url("{% static "icons/arrowright.svg" %}")'></div>
        <div id="detaileddiv" class="navigationdivs">
            <p class="textindiv">Detailed</p>
        </div>
        <div class="arrowdiv"
        style='background-image: url("{% static "icons/arrowright.svg" %}")'></div>
        <div id="reviewdiv" class="navigationdivs">
            <p class="textindiv">Review</p>
        </div>
        <div class="arrowdiv"
        style='background-image: url("{% static "icons/arrowright.svg" %}")'></div>
        <div id="confirmdiv" class="navigationdivs">
            <p class="textindiv">Confirm</p>
        </div>
    </div>
    <form id="sellform">
    <div id="infodiv" class="forms">
        {% csrf_token %}
        <h1>Sell an apartment</h1>
        <h3>Your personal information</h3>
        <table id="infotable">
            <tr>
                <th class="tablelabel">Name:</th> <td>{{user.userinfo.first_name}} {{user.userinfo.last_name}}</td>
            </tr>
            <tr>
                <th class="tablelabel">Email address:</th> <td>{{user.userinfo.email}}</td>
            </tr>
            <tr>
                <th class="tablelabel">Birthday:</th> <td>{{user.userinfo.DoB}}</td>
            </tr>
            <tr>
                <th class="tablelabel">Phone:</th> <td>{{user.userinfo.phone_number}}</td>
            </tr>
            <tr>
                <th class="tablelabel">SSN:</th> <td>{{user.userinfo.SSN}}</td>
            </tr>
            <tr>
                <th class="tablelabel">Country:</th> <td>{{user.userinfo.postal_code.country}}</td>
            </tr>
            <tr>
                <th class="tablelabel">Zip code:</th> <td>{{user.userinfo.postal_code.zip_code}}</td>
            </tr>
            <tr>
                <th class="tablelabel">Town:</th> <td></td>
            </tr>
            <tr>
                <th class="tablelabel">Address:</th> <td>{{user.userinfo.address}}</td>
            </tr>
            <tr>
                <th class="tablelabel">Apt. number:</th> <td>{{user.userinfo.apt_number}}</td>
            </tr>
        </table>
        <div id="buttonsdiv">
            <div class="prevstep">
                <input type="submit" value="Update information" class="btn">
            </div>
            <div class="nextstep">
                <input type="submit" value="Next Step" class="btn">
            </div>
        </div>
    </div>
    <div id="basicform" class="forms">
            {% csrf_token %}
            <h1>Sell an apartment</h1>
            <h3>Location</h3>
            <table id="basictable1">
                <tr>
                    <th class="tablelabel">Country:</th><td><input type="select" name="country"></td>
                </tr>
                <tr>
                    <th class="tablelabel">*Zip Code:</th> <td><input type="text" name="zipcode"></td>
                </tr>
                <tr>
                    <th class="tablelabel">*Town:</th> <td><input type="text" name="town"></td>
                </tr>
                <tr>
                    <th class="tablelabel">*Address:</th>
                    <td><input type="text" name="address"></td>
                </tr>
                <tr>
                    <th class="tablelabel">Apt. number:</th>
                    <td><input type="text" name="aptnumber"></td>
                </tr>
            </table>
            <h3>Appraisal</h3>
            <table id="basictable2">
                    <tr>
                        <th class="tablelabel">*Real Estate appraisal amount:</th>
                        <td><input type="number" name="appraisal"></td>
                    </tr>
                </table>
            <div id="buttonsdiv">
                <div class="prevstep">
                    <input type="submit" value="Update information" class="btn">
                </div>
                <div class="nextstep">
                    <input type="submit" value="Next Step" class="btn">
                </div>
            </div>
        </div>
        <div id="detaildiv" class="forms">
            {% csrf_token %}
            <h1>Sell an apartment</h1>
            <h3>Property info</h3>
            <table id="detailtable1">
                <tr>
                    <th class="tablelabel">Number of rooms:</th><td><input type="number" 
                        name="numrooms"></td>
                </tr>
                <tr>
                    <th class="tablelabel">Number of toilets:</th> 
                    <td><input type="number" name="numtoilets"></td>
                </tr>
                <tr>
                    <th class="tablelabel">Size (in m2)</th>
                    <td><input type="number" name="size"></td>
                </tr>
                <tr>
                    <th class="tablelabel">Type:</th>
                    <td><input type="select" name="type"></td>
                </tr>
                <tr>
                    <th class="tablelabel">Pictures:</th>
                    <td><input type="file" value= "Choose pictures" name="pictures"></td>
                </tr>
                <tr>
                    <th class="tablelabel">Detailed description:</th>
                    <td><input type="number" name="description"></td>
                </tr>
                <tr>
                    <th class="tablelabel">Detailed description:</th>
                    <td><textarea></textarea></td>
                </tr>
            </table>
            <div id="buttonsdiv">
                <div class="prevstep">
                    <input type="submit" value="Update information" class="btn">
                </div>
                <div class="nextstep">
                    <input type="submit" value="Next Step" class="btn">
                </div>
            </div>
        </div>
        <div id="reviewform" class="forms">
            {% csrf_token %}
            <h1>Sell an apartment</h1>
            <h2 id="temph2">Here will come pictures</h2>
            <div id="tablesdiv">
            <div id="table1div">
            <h3>Location</h3>
            <table id="reviewtable1">
                <tr>
                    <th class="tablelabel">Country:</th><td>Iceland</td>
                </tr>
                <tr>
                    <th class="tablelabel">*Zip Code:</th> <td>221</td>
                </tr>
                <tr>
                    <th class="tablelabel">*Town:</th> <td>Hafnarfjörður</td>
                </tr>
                <tr>
                    <th class="tablelabel">*Apt. number:</th> <td>-</td>
                </tr>
            </table>
        </div>
        <div id="table2div">
            <h3>Property info</h3>
            <table id="reviewtable2">
                    <tr>
                        <th class="tablelabel"># of rooms:</th> <td>3</td>
                    </tr>
                    <tr>
                        <th class="tablelabel"># of toilets:</th> <td>2</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">Size:</th> <td>109m^2</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">Type:</th> <td>-</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">Year built:</th> <td>1999</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">Garage:</th> <td>No</td>
                    </tr>
                    <tr>
                        <th class="tablelabel">Appraisal:</th> <td>75 000 000</td>
                    </tr>
                </table>
            </div>
        </div>
            <div id="buttonsdiv">
                <button>Previous step</button>
                <button>Next step</button>
            </div>
            <p>Detailed description:</p>
        </div>
        <div id="confirmform" class="forms">
                {% csrf_token %}
                <h1>Your new sale listing is now complete!</h1>
                <h2 id="temph2">Here will come pictures</h2>
        </div>
    </form>
</main>
{% endblock content %}