{% extends "base.html" %}
{% load static %}
{% load sass_tags %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% sass_src "castleapartments/sass/style.scss" %}">
<link rel="stylesheet" type="text/css" href="{% sass_src "castleapartments/sass/sell.scss" %}">
{% endblock styles %}

{% block title %}
<title> Sell </title>
{% endblock title %}

{% block content %}
<main>
    <div id="navdiv">
        <div id="sellapartmentdiv" class="navigationdivs">
            <p class="textindiv">Sell apartm.</p>
        </div>
        <div class="arrowdiv"
        style='background-image: url("{% static "icons/arrowright.svg" %}")'></div>
        <div id="yourinfodiv" class="navigationdivs">
            <p class="textindiv">Your Info</p>
        </div>
        <div class="arrowdiv"
        style='background-image: url("{% static "icons/arrowright.svg" %}")'></div>
        <div id="basicdiv" class="navigationdivs">
            <p class="textindiv">Basic</p>
        </div>
        <div class="arrowdiv"
        style='background-image: url("{% static "icons/arrowright.svg" %}")'></div>
        <div id="detaileddiv" class="navigationdivs">
            <p class="textindiv">Detailed</p>
        </div>
        <div class="arrowdiv"
        style='background-image: url("{% static "icons/arrowright.svg" %}")'></div>
        <div id="reviewdiv" class="navigationdivs">
            <p class="textindiv">Review</p>
        </div>
        <div class="arrowdiv"
        style='background-image: url("{% static "icons/arrowright.svg" %}")'></div>
        <div id="confirmdiv" class="navigationdivs">
            <p class="textindiv">Confirm</p>
        </div>
    </div>
    <form action="#" method="post" id="infoform">
        {% csrf_token %}
        <h1>Sell an apartment</h1>
        <h3>Your personal information</h3>
        <table id="infotable">
            <tr>
                <th>Name:</th>
            </tr>
            <tr>
                <th>Email address:</th>
            </tr>
            <tr>
                <th>Birthday:</th>
            </tr>
            <tr>
                <th>Phone:</th>
            </tr>
            <tr>
                <th>SSN:</th>
            </tr>
            <tr>
                <th>Country:</th>
            </tr>
            <tr>
                <th>Zip code:</th>
            </tr>
            <tr>
                <th>Town:</th>
            </tr>
            <tr>
                <th>Address:</th>
            </tr>
            <tr>
                <th>Apt. number:</th>
            </tr>
        </table>
    </form>
</main>
{% endblock content %}