{% extends "base.html" %}
{% load static %}
{% load sass_tags %}
{% load l10n %}
{% load humanize %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'castleapartments/sass/style.scss' %}" />
<link rel="stylesheet" type="text/css" href="{% sass_src 'castleapartments/sass/view_offer.scss' %}" />
{% endblock styles %}

{% block title %}
<title>View - Castle Apartments</title>
{% endblock title %}

{% block scripts %}
<script src="{% static 'castleapartments/js/viewOffer.js' %}" defer></script>
{% endblock scripts %}

{% block content %}
<main>
<div id="wrapper">
    <section id="buyer_section">
        <h2>Buyer</h2>
        <div 
            class="profile-pic"
            style="background-image: url({{ offer.buyer.userinfo.profile_img.url }});">
        </div>
        <ul class="no-bullets">
            <li><b>Name:</b> {{ offer.buyer.userinfo }}</li>
            <li><b>Email:</b> {{ offer.buyer.userinfo.email }}</li>
        </ul>
        <button class="btn btn-link">
            <a href="/profiles/{{ offer.buyer.id }}" class="btn btn-link">View Profile</a>
        </button>
    </section>
    <section id="offer_section">
        <h2>Offer</h2>
        <ul class="no-bullets">
            <li>
                <b>Requested conveyance date:</b>
                {{ offer.request_date|date:"F" }}
                {{ offer.request_date.day }},
                {{ offer.request_date.year }}
            </li>
            <li>
                <b>Requested price:</b>
                <span class="currency">ISK</span>
                {{ offer.request_amount|intcomma|localize }}
            </li>
        </ul>
    </section>

    <section id="button_section">
        <a
            class="btn btn-success"
            id="accept_offer_button"
            href="accept/">
            Accept offer
        </a>
        <a 
            class="btn btn-danger"
            id="decline_offer_button"
            href="decline/">
            Decline offer
        </a>
    </section>

    <div class="pop-up" id="accept_pop_up">
        <div class="pop-up-background">
            <p>Are you sure you wish to accept this offer?</p>
            <a class="btn btn-success" href="accept/">Absolutely!</a>
            <button class="btn btn-danger cancel">Cancel</button>
        </div>
    </div>

    <div class="pop-up" id="decline_pop_up">
        <div class="pop-up-background">
            <p>Are you sure you wish to decline this offer?</p>
            <a class="btn btn-success" href="decline/">Absolutely</a>
            <button class="btn btn-danger cancel">Cancel</button>
        </div>
    </div>

</div>
</main>
{% endblock content %}