@import '../../../../base/static/sass/definitions';

main {
    padding-bottom: 0;
}

#about_page_wrapper {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 7.5rem);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#about_container {
    position: relative;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 4rem;
    padding-bottom: 7rem;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: $text-font;

    @media screen and (max-width: 800px) {
        position: relative;
        flex-direction: column;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #about_text {
        flex: 1;
        display: inline-block;
        position: relative;
        justify-content: center;
        align-items: center;
        font-size: 1.2;
        font-family: $heading-font;
        text-align: center;

        @media screen and (max-width: 800px) {
            position: relative;
            flex-direction: column;
        }
    }

    #about_image {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100%;
        

        @media screen and (max-width: 800px) {
            order: 1;
        }

        img {
            max-width: 20rem;
            width: 100%;
            background-color: #EEEEEE;
            border-radius: 50%;
        }
    }
}