@import '../../../../base/static/sass/definitions';

#about_containor {
    position: relative;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 4rem;
    padding-bottom: 7rem;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: $text-font;

    @media screen and (max-width: 800px) {
        position: relative;
        flex-direction: column;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #about_text {
        flex: 1;
        display: inline-block;
        position: relative;
        justify-content: center;
        align-items: center;
        font-size: 30px;

        @media screen and (max-width: 800px) {
            position: relative;
            flex-direction: column;
        }
    }

    #about_image {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
}