@import '../../../../base/static/sass/definitions';

#main_content {
    position: relative;
    width: 100%;
    display: flex;
    font-family: $text-font;

    @media screen and (max-width: 700px) {
        position: relative;
        flex-direction: column;
        padding-left: 1rem;
        padding-right: 1rem;
    }

}

#profile {
    margin: 0.5rem;
    flex: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: $white;
    box-shadow: 0px 2px 0px 2px rgba(0, 0, 0, 0.2);
}

#edit_button {

    img {
        height: 1.5rem;       
    }

    a {
        margin: 0rem;
    }
}

#account_profile {
    margin-top: 1rem;    
}

#account_profile,#profile_bio,#profile_info {
    word-wrap: break-word;
    display: inline-block;
    height: auto;
    width: auto;
    text-align: center;

    #profile_image { 
        position: relative;
        margin: 1rem;
        display: block;
        width: 250px;
        height: 250px;
        border: 5px solid rgb(238, 238, 238);;
        border-radius: 1000rem;

        #profileimg {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            border-radius: 1000rem;
        }
    }

    #profile_name {
        margin-bottom: 1rem;
        display: inline-block;
    }
}

#profile_bio {
    width: 100%;
    height: auto;
    flex: 1;
    padding: 1rem;
    background-color: rgb(238, 238, 238);
}

#profile_info {
    width: 100%;
    text-align: left;
    flex: 1;
    padding: 1rem;
    margin: 0rem 1rem 1rem 1rem; 
}

#profile_sell, #profile_sold {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 0px 2px rgba(0, 0, 0, 0.2);    
    height: auto;
    background-color: $white;
}

#profile_sell{
    flex: 2;
}

#profile_sold{
    flex: 1;
}

#btn_new_apparment {
    margin: 1rem;
}

.headtitle{
    position: relative;
    width: 100%;
    height: 4rem;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $main-purple;
    color: $white;
    box-shadow: 0px 2px 0px 2px rgba(0, 0, 0, 0.2);


    p {
        margin: 0.5rem;
    }
}

.content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: auto;

    .selling_card {
        display: flex;
        position: relative;
        margin: 0 2rem 1rem 2em;
        border: 1px solid $main-purple;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);

        @media screen and (max-width: 1000px) {
            flex-direction: column;
            margin: 0 1rem 1rem 1em;
        }

        .card-link {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 5;
        }

        .selling_offers {
            position: absolute;
            background-color: rgba(255, 0, 0, 0.9);
            color: #212121;
            margin: 0.1rem 0.1rem;
            padding: 0.1rem 0.5rem;
            font-size: 0.8rem;
            font-family: $heading-font;
            border-radius: 100rem;
            transform: translateY(-50%)
        }

        .selling_img {
            height: auto;
            width: 50%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            @media screen and (max-width: 1000px) {
                height: 10rem;
                width: 100%
            }
        }

        .selling_body {
            padding: 0.5rem;
            width: 50%;

            @media screen and (max-width: 1000px) {
                width: 100%;
            }

            .card-price {
                font-family: $heading-font;
                text-align: center;
                margin-top: 0.2rem;
                text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
                font-size: 1.5rem;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                display: block;
                width: 100%;
                color: $main-purple;
                margin: 0;
                padding: 0.65rem 0 0.5rem 0;
            }
        
        }
    }

    .selling_card:hover {
        transform: scale(1.05)
    }

    .sold_card {
        display: flex;
        margin: 1rem;
        border: 1px solid $main-purple;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);

        @media screen and (max-width: 1000px) {
            flex-direction: column;
        }

        .sold_img {
            height: auto;
            width: 60%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            @media screen and (max-width: 1000px) {
                height: 10rem;
                width: 100%
            }
        }

        .sold_body {
            padding: 0.5rem;
            width: 40%;

            @media screen and (max-width: 1000px) {
                width: 100%;
            }
        }
    }

    .sold_card:hover {
        transform: scale(1.03)
    }
}
