@import '../../../../base/static/sass/definitions';

#listing-hint {
    align-self: flex-end;
    margin: 0 auto;
    margin-top: 1rem;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 0.2rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 200ms ease, transform 200ms ease;
    pointer-events: auto;
    cursor: pointer;

    @media screen and (max-width: 600px) {
        display: none;
    }

    a {
        font-family: $heading-font;
        color: #212121;
        text-align: center;
        padding: 0.5rem 0.5rem;
        font-weight: 400;
        margin-bottom: 0;
    }

    svg {
        display: inline-block;
        margin: 0 auto;
        height: 1.1rem;
        pointer-events: none;
    }
}

#listing-hint.hide {
    opacity: 0 !important;
    transform: translateY(-50%);
    pointer-events: none;
}

#search_banner {
    margin-top: 4rem;
    align-self: flex-start;

    @media screen and (max-width: 600px) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #search_banner_content {
        form {
            padding-top: 0;

            @media screen and (max-width: 600px) {
                padding-left: 0;
                padding-right: 0;
                width: 100%;
                text-align: center;
    
                label {
                    display: block;
                    text-align: left;
                    margin-bottom: 0;
                }
    
                input, select {
                    max-width: none;
                    margin-bottom: 1rem;
                    width: 100%;
                }
            }

            #checkboxes_container {
                position: relative;
            }

            #checkbox_button {
                font-family: $heading-font;
                position: relative;
            }

            #checkboxes {
                pointer-events: none;
                background-color: rgba(255, 255, 255, 0.95);
                border-radius: 0.3rem;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
                color: #212121;
                padding: 1rem 0;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                display: inline-block;
                position: absolute;
                bottom: 110%;
                left: -5%;
                width: 110%;
                transition: transform 200ms ease, opacity 200ms ease;
                transform: translateY(1.5rem);
                opacity: 0;
                cursor: auto;

                ul {
                    margin: 0;
                    display: inline-block;
                    width: auto;
                    text-align: left;
                    color: #212121;
                    margin: auto;

                    input[type="checkbox"] {
                        width: auto;
                        box-shadow: none;
                        background-color: transparent;
                        cursor: pointer;
                        height: 1rem;
                        width: 1rem;
                    }

                    label {
                        text-align: left;
                        font-size: 1rem;
                        font-family: $heading-font;
                        cursor: pointer;
                        width: auto;
                        margin: 0;

                        @media screen and (max-width: 600px) {
                            display: inline-block;
                        }
                    }
                }
            }

            #checkboxes.active {
                transform: translateY(0);
                opacity: 1;
                pointer-events: auto;
            }
        }   
    }
}

#header-filler {
    display: none;
}

#frontpage-div {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#search-results {
    background-color: #FAFAFA;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 2.25rem;
    margin-bottom: -2.25rem;

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #FFFFFF;
        width: 100%;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
        position: sticky;
        position: -webkit-sticky;
        top: 4rem;
        padding: 1rem 0;
        color: #212121;
        z-index: 3;

        @media screen and (max-width: 391px) {
            position: relative;
            top: 0;
        }

        ul {
            position: relative;
            z-index: 2;
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            p {
                display: inline-block;
                margin: 0;
                padding: 0;
            }

            li {
                display: inline-block;
                border-right: 1px solid #212121;
                text-align: center;
                font-family: $heading-font;
                margin-bottom: -0.1rem;
                padding: 0 3rem;
        
                img {
                    height: 1.5rem;
                    margin-right: 0.5rem;
                }
        
                a {
                    p {
                        display: inline;
                        color: #212121;
                    }
                }

                select {
                    border: 0;
                    font-family: $text-font;
                    font-weight: 500;
                    font-size: 0.9em;
                    cursor: pointer;
                    background-color: #FFFFFF;
                    border-radius: 0.2rem;
                    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
                    padding: 0.2rem;
                    color: #212121;
                }
            }

            @media screen and (max-width: 700px) {
                li:first-child {
                    display: none;
                }
            }

            @media screen and (max-width: 550px) and (min-width: 391px) {
                li {
                    padding: 0 1rem;
                }
            }

            @media screen and (max-width: 391px) {
                li {
                    padding: 0 0.5rem;
                }
            }

            li:last-child {
                border-right: none;
            }
        }

        svg {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
        }
    }

    p {
        margin-bottom: 0;
    }

    #listings {
        padding-top: 1rem;
    }
}

footer {
    z-index: 1;
}

#listings_container, #recently_viewed.create {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem auto 0 auto;
    max-width: 1000px;
    transition: transform 200ms ease, opacity 200ms ease;
}

#listings_container.hide {
    transform: translateX(-2rem);
    opacity: 0;
}

#listings_container.remove {
    display: none;
}

#history_button {
    display: block;
    margin: auto;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;

    p {
        display: inline-block;
        margin: 0 0 0 0.5rem;
        padding: 0;
        color: #000000;
        opacity: 0.6;
    }

    img {
        opacity: 0.5;
    }
}

#history_button:hover {
    background-color: rgba(33, 33, 33, 0.075);
}

.card {
    width: 18rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    position: relative;
    transition: transform 150ms ease;
    display: inline-block;
    margin: 0 1rem 2rem 1rem;

    .card-img-top {
        height: 11rem;
        width: 100%;
        background-color: rgba(33, 33, 33, 0.1);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;

        .card-listing-date {
            background-color: rgba(255, 255, 255, 0.7);
            color: #212121;
            padding: 0.1rem 0.5rem;
            font-size: 0.8rem;
            font-family: $heading-font;
            border-radius: 100rem;
            margin-top: 0.5rem;
            margin-right: 0.5rem;
            // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
        }
    }

    .no-margin {
        margin-top: 0;
        margin-bottom: 0;
    }

    .card-price {
        font-family: $heading-font;
        text-align: center;
        margin-top: 0.2rem;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        font-size: 1.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        display: block;
        width: 100%;
        color: $main-purple;
        margin: 0;
        padding: 0.65rem 0 0.5rem 0;

        span {
            font-size: 1rem;
        }
    }

    .card-description {
        font-weight: 400;
        font-style: italic;
        font-size: 0.8rem;
    }

    hr {
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
        border-top: 1px solid rgba(33, 33, 33, 0.2);
    }

    b {
        font-weight: 500;
    }

    .card-link {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 5;
    }

    .text-sm {
        font-size: 0.7rem;
    }

    .card-apt-type {
        margin-top: 0.4rem;
    }
}

.card:hover {
    transform: scale(1.05);
}

#recently_viewed {
    transition: transform 200ms ease, opacity 200ms ease;
    transform: translateX(-2rem);
    opacity: 0;
    display: none;

    #recently_viewed_empty_message {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 2rem auto;

        #empty_icon {
            height: 10rem;
            width: 10rem;
            margin: 0;
            box-sizing: content-box;
            padding: 1rem;
            background-color: #EEEEEE;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                height: 90%;
            }
        }

        p {
            margin-top: 1rem;
            max-width: 20rem;
            text-align: center;
            color: #9E9E9E;
        }
    }

    #recently_viewed_empty_message.create {
        display: flex;
    }

    #recently_viewed_loading_message {
        display: block;
        text-align: center;
        width: 100%;

        p {
            color: #9E9E9E;
            text-align: center;
            font-style: italic;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }

    #recently_viewed_loading_message.remove {
        display: none;
    }
}

#recently_viewed.create {
    display: flex;
}

#recently_viewed.show {
    transform: translateX(0);
    opacity: 1;
}