@import '../../../../base/static/sass/definitions';

#listing-hint {
    align-self: flex-end;
    margin: 0 auto;
    margin-top: 1rem;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 0.2rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 200ms ease, transform 200ms ease;
    pointer-events: auto;
    cursor: pointer;

    @media screen and (max-width: 600px) {
        display: none;
    }

    a {
        font-family: $heading-font;
        color: #212121;
        text-align: center;
        padding: 0.5rem 0.5rem;
        font-weight: 400;
        margin-bottom: 0;
    }

    svg {
        display: inline-block;
        margin: 0 auto;
        height: 1.1rem;
        pointer-events: none;
    }
}

#listing-hint.hide {
    opacity: 0 !important;
    transform: translateY(-50%);
    pointer-events: none;
}

#search_banner {
    margin-top: 4rem;
    align-self: flex-start;

    @media screen and (max-width: 600px) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #search_banner_content {
        form {
            padding-top: 0;

            @media screen and (max-width: 600px) {
                padding-left: 0;
                padding-right: 0;
                width: 100%;
                text-align: center;
    
                label {
                    display: block;
                    text-align: left;
                    margin-bottom: 0;
                }
    
                input, select {
                    max-width: none;
                    margin-bottom: 1rem;
                    width: 100%;
                }
            }

            #checkboxes_container {
                position: relative;
            }

            #checkbox_button {
                font-family: $heading-font;
                position: relative;
            }

            #checkboxes {
                pointer-events: none;
                background-color: rgba(255, 255, 255, 0.95);
                border-radius: 0.3rem;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
                color: #212121;
                padding: 1rem 0;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                display: inline-block;
                position: absolute;
                bottom: 110%;
                left: -5%;
                width: 110%;
                transition: transform 200ms ease, opacity 200ms ease;
                transform: translateY(1.5rem);
                opacity: 0;
                cursor: auto;

                ul {
                    margin: 0;
                    display: inline-block;
                    width: auto;
                    text-align: left;
                    color: #212121;
                    margin: auto;

                    input[type="checkbox"] {
                        width: auto;
                        box-shadow: none;
                        background-color: transparent;
                        cursor: pointer;
                        height: 1rem;
                        width: 1rem;
                    }

                    label {
                        text-align: left;
                        font-size: 1rem;
                        font-family: $heading-font;
                        cursor: pointer;
                        width: auto;
                        margin: 0;

                        @media screen and (max-width: 600px) {
                            display: inline-block;
                        }
                    }
                }
            }

            #checkboxes.active {
                transform: translateY(0);
                opacity: 1;
                pointer-events: auto;
            }
        }   
    }
}

#header-filler {
    display: none;
}

#frontpage-div {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#search-results {
    background-color: #FFFFFF;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #FFFFFF;
        width: 100%;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
        position: sticky;
        position: -webkit-sticky;
        top: 4rem;
        padding: 0.5rem 0;
        color: #212121;

        ul {
            position: relative;
            z-index: 2;
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            p {
                display: inline-block;
                margin: 0;
                padding: 0;
            }

            li {
                display: inline-block;
                border-right: 1px solid #212121;
                text-align: center;
                font-family: $heading-font;
                margin-bottom: -0.1rem;
                padding: 0 3rem;
        
                img {
                    height: 1.5rem;
                    margin-right: 0.5rem;
                }
        
                a {
                    p {
                        display: inline;
                        color: #212121;
                    }
                }

                select {
                    border: 0;
                    font-family: $text-font;
                    font-weight: 500;
                    font-size: 0.9em;
                    cursor: pointer;
                    background-color: #FFFFFF;
                    border-radius: 0.2rem;
                    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
                    padding: 0.2rem;
                    color: #212121;
                }
            }

            @media screen and (max-width: 700px) {
                li:first-child {
                    display: none;
                }
            }

            @media screen and (max-width: 550px) and (min-width: 391px) {
                li {
                    padding: 0 1rem;
                }
            }

            @media screen and (max-width: 391px) {
                li {
                    padding: 0 0.5rem;
                }
            }

            li:last-child {
                border-right: none;
            }
        }

        svg {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
        }
    }

    p {
        margin-bottom: 0;
    }
}

footer {
    background-color: #FFFFFF;
}