@import '../../../../base/static/sass/definitions';
$gray: #ddd8d8;


h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

.forms {
    left: 50%;
    // background-color: white;
    display: flex;
    flex-direction: column;
    width: 68%;
    align-items: center;
    margin: 0 auto;
    margin-top: 4rem;
    //justify-content: space-between;
    height: 40rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: white;

    h1 {
        font-family: "Reem Kufi", sans-serif;
    }
}

.forms:target ~ #infoform {
    display: none;
}

#infoform {
    display: flex;
}

#basicform {
    display: none;
}

#paymentform {
    display: none;
}

#paymentform:target {
    display:flex;
}

#reviewform {
    display: none;
}

#reviewform:target {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#confirmform {
    display: none;
}

#confirmform:target {
    display: flex
}

.navdiv {
    display: flex;
    position: absolute;
    top: 4rem;
    background-color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 4rem;

    @media screen and (max-width: 700px) {
        display: none;
    }
}

.arrowdiv {
    margin-right: 2%;
    margin-left: 2%;
    height: 20px;
    width: 20px;
    background-size: cover;
}

.navigationdivs {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-family: "Reem Kufi", sans-serif;
}

.textindiv {
    margin: 0;
}

main {
    background-color: $gray;
}

#editimg {
    width: 10%;
    height: 10%;
}

.buttonsdiv {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}

.finished {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    color: white;
    border-radius: 5px;
    font-family: "Reem Kufi", sans-serif;
}

#reviewform {
    height: auto;
}

#reviewtable1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#table1div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#reviewbuttondiv {
    margin-top: 0;
    margin-bottom: 2rem;
}

.textindiv {
    margin-bottom: 0.7rem;
    margin-top: 0.7rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    text-align: center;
}

.current {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: solid 2px $primary;
    font-family: "Reem Kufi", sans-serif;
}