@import '../../../../base/static/sass/definitions';

$gray: #ddd8d8;

main {
    background-color: $gray;
    padding: 0;
    margin: 0;
}

.navdiv {
    position: absolute;
    margin-bottom: 6rem;
    top: 4rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 100%;

    @media screen and (max-width: 700px) {
        display: none;
    }
}

.arrowdiv {
    background: cover;
    background-repeat: no-repeat;
    overflow: auto;
    margin-right: 2%;
    margin-left: 2%;
    height: 20px;
    width: 20px;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

#sellapartmentdiv {
    background-color: $primary;
    color: white;
}

#yourinfodiv {
    border: solid 2px $primary;
}

.buttonsdiv {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}

.navigationdivs {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-family: "Reem Kufi", sans-serif;
}

#editimg {
    width: 10%;
    height: 10%;
}

.textindiv {
    margin-bottom: 0.7rem;
    margin-top: 0.7rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    text-align: center;
}

.tablelabel {
    text-align: right;
    padding-right: 2rem;
}

#infoform {
    display: flex;
    h1 {
        font-family: "Reem Kufi", sans-serif;
        margin: 0 auto;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
}

.finished {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    color: white;
    border-radius: 5px;
    font-family: "Reem Kufi", sans-serif;
}

.current {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: solid 2px $primary;
    font-family: "Reem Kufi", sans-serif;
}

.forms:target ~ #infoform {
    display: none;
}

.forms {
    h1 {
        font-family: "Reem Kufi", sans-serif;
    }
    left: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 68%;
    align-items: center;
    margin: 0 auto;
    margin-top: 4rem;
    //justify-content: space-between;
    height: 40rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

#infotable {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    justify-content: space-between;
}

#basicform {
    display: none;
}

#basicform:target {
    display: flex;
}

#detailform {
    display: none;
}

#detailbuttons {
    margin-bottom: 2rem;
}

#reviewbuttondiv {
    margin-bottom: 2rem;
}

#id_garage {
    box-shadow: none;
    width: auto;
}

#detailform:target {
    display: flex;
    height: auto;
}

#tablesdiv {
    display: flex;
}

#reviewform {
    h1 {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    display: flex;
    align-items: center;
    display: none;
    height: auto;
}

#reviewform:target {
    display: flex;
}

#temph2 {
    margin-bottom: 1rem;
}

#table1div {
    display: flex;
    flex-direction: column;
}

#table2div {
    display: flex;
    flex-direction: column;
}

.selllinks {
    text-decoration: none;
    color: $black;
}

#returndiv {
    padding: 0.7rem;
    transition: background-color 0.5s ease;
    border-radius: 5px;
    text-align: center;
    p {
        margin: 0 auto;
    }
}

#returndiv:hover {
    background: rgba(85, 3, 167, 0.1);
}

.selllinks:hover {
    text-decoration: none;
    color: $black; 
}

#confirmform {
    h1 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    display: none;
}

#confirmform:target {
    display: flex;
}

#basictable2 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin-right: 8rem;
}

h3 {
    text-align: center;
}