$light-purple: #673AB7;
$main-purple: #5503A7;
$dark-purple: #4A0292;
$heading-font: 'Reem Kufi', sans-serif;
$text-font: 'Roboto', sans-serif;

#search_banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}