header {
  width: 100%;
  height: 70px;
  font-family: "Reem Kufi", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #212121;
  -webkit-box-shadow: 6px 0px 6px #363434;
          box-shadow: 6px 0px 6px #363434;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header #logodiv {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #212121;
}

header #name {
  margin-right: 5px;
  margin-bottom: 30px;
  font-size: 1.5rem;
}

header #border1 {
  height: 60px;
  width: 1px;
  background-color: #212121;
}

header #imgdiv {
  height: 5rem;
  width: 5rem;
  margin-bottom: 15px;
  background-size: cover;
}

header #listingdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #listings {
  border-bottom: solid 1px;
  padding-bottom: 10px;
  margin-top: 20px;
}

header #sell {
  border-bottom: solid 1px;
  padding-bottom: 10px;
  margin-top: 20px;
}

header #about {
  border-bottom: solid 1px;
  padding-bottom: 10px;
  margin-top: 20px;
}

header #selldiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #aboutdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header #lockdiv {
  height: 60px;
  width: 60px;
  background-size: cover;
  margin-right: 10px;
}

header #centerheaddiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header #border2 {
  background-color: #212121;
  width: 1px;
  height: 60px;
}

header #accountdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: right;
}

header #notlogged {
  margin-top: 10px;
}

footer {
  display: block;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  position: relative;
  height: 7.5rem;
}

@media screen and (max-width: 600px) {
  footer {
    height: 6rem;
  }
}

footer #footer_square {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background-color: #673AB7;
}

@media screen and (max-width: 600px) {
  footer #footer_square {
    height: 100%;
    background-color: #5503A7;
  }
}

footer #footer_oval {
  position: relative;
  display: block;
  margin: 0.1rem auto;
  background-color: #673AB7;
  width: 7rem;
  height: 60%;
  border-radius: 100%;
}

@media screen and (max-width: 600px) {
  footer #footer_oval {
    display: none;
  }
}

footer svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  footer svg #footer_triangle_right {
    display: none;
  }
}

footer #footer_content {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 90%;
  width: 100%;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 15px;
}

footer #footer_content p {
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.8rem;
}

footer #footer_content p img {
  margin: 0 10px 0 0;
  padding: 0;
  height: 1.5rem;
}

@media screen and (max-width: 800px) {
  footer #footer_content p img {
    height: 1.3rem;
  }
}

@media screen and (max-width: 800px) {
  footer #footer_content p {
    font-size: 0.75rem;
  }
}

footer #footer_content #footer_content_left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer #footer_content #footer_content_right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer #footer_logo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5px;
}

@media screen and (max-width: 530px) {
  footer #footer_logo {
    display: none;
  }
}

footer #footer_logo img {
  height: 70%;
}

footer #footer_logo h5 {
  font-family: "Reem Kufi", sans-serif;
  margin: 0;
  font-size: 16px;
}

footer #footer_logo h5 span {
  font-family: "Roboto", sans-serif;
}
/*# sourceMappingURL=style.css.map */